/* styles related to badges */


.BadgeOverlay {
    background-color: rgb(244,245,240);
    position:fixed;
    top: 32px;
    left: 0px;
    right: 0px;
    max-width: 512px;
    border-style: solid;
    border-width: 4px;
    border-color: #000000;
    z-index: 30;
    overflow-x: hidden;
    overflow-y: hidden;
    bottom: 0px;
    max-height: 370px;
}

.BadgeOverlayShield {
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    background-color: rgba(0,0,0,.5);
    z-index: 25;
}

.BadgeOverlayShield input {
    max-width:250px;
}

.BadgeDialog {
    background-color: orange;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
}


.BadgeTitleBar {
    width: 100%;
    text-align: center;
    background-color: black;
    font-size: 18pt;
    font-family: 'Arimo', sans-serif;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #FFA500;
}

.badgeholder {
    font-family: 'Arimo', sans-serif;
    border-color: #999999;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #d3d3d3;
}

.badgename {
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
}

.badgenamespan {
    bottom: 2px;
    position: relative;
}

.badge-authority-table {
    margin:20px 0px;
}

.badge-authority-table tbody tr td {
    padding: 10px;
}

.badgeimage {
    width:23px;
    height:20px;
    margin-left: 0px;
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.badgesource {
    font-size: 12pt;
    margin-left: 16px;
    margin-right: 16px;
}

.badgeexp {
    font-size: 9pt;
    font-style: italic;
    color: gray;
    text-align: right;
    float: right;
    margin: 7px 0px 0px 4px;
}

.badge-div {
    display: inline-block;
    width:20px;
    height:20px;
    background-color: transparent;
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/black_badge.png");
    background-size:cover;
    background-position: center;
}

.badge-desc-span {
    font-size: 10pt;
    font-style: italic;
    color: #999999;
}

.badge-name-span {
    font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue','Arimo', sans-serif;
    color:#202020;
    font-size:12pt;
}

.ie-apology {
    font-style: italic;
    color: rgb(248,120,88);
}