/* styles related to badges */


.BadgeOverlay {
    background-color: white;
    position:fixed;
    top: 32px;
    left: 0px;
    right: 0px;
    max-width: 512px;
    max-height: 384px;
    border-style: solid;
    border-width: 4px;
    border-color: #000000;
    z-index: 25;
}

.BadgeDialog {
    background-color: orange;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
}


.BadgeTitleBar {
    width: 100%;
    text-align: center;
    background-color: lightblue;
    font-size: 18pt;
    font-family: 'Arimo', sans-serif;
    padding-top: 4px;
    padding-bottom: 4px;
}

.badgeholder {
    font-family: 'Arimo', sans-serif;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #d3d3d3;
}

.badgename {
    font-size: 28px;
    font-family: 'Arimo', sans-serif;
}

.badgeimage {
    width:22px;
    height:32px;
    margin-left: 8px;
    margin-right: 8px;
}

.badgesource {
    font-size: 12pt;
    margin-left: 16px;
    margin-right: 16px;
}

.badgeexp {
    font-size: 9pt;
    font-style: italic;
    color: gray;
    margin-left: 16px;
    text-align: right;
    margin-right: 16px;
}

.badge-div {
    width:23px;
    height:20px;
    position:absolute;
    bottom:0px;
    right:0px;
    background-color: transparent;
    background-image: url("http://beta.blahgua.com.s3.amazonaws.com/img/black_badge.png");
    background-size:cover;
}