/* styles for the base of blahgua */


body {
    margin: 0;
    color: black;
}

textarea {
    resize: none;
}

.fill-center-container {
    width: 100%;
    text-align: center;
}

.PageBody {
    position:absolute;
    margin:0;
    width:100%;
    height:100%;
    z-index:0;
    background-color: rgb(84,86,98);
}

.Overlay {
    z-index:100;
}

.BlahContainer {
    position: absolute;
    height:100%;
    background-color: #d4d4d4;
    overflow:hidden;
}


.BlahDiv {
    background-color:#000000;
    font-family: 'Arimo', sans-serif;

    overflow:hidden;
    vertical-align:middle;
    background-size: cover;

    border-radius: 8px;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.2);
    border-top-style:solid;
    border-width:7px;
}



.LightBox {
    display:none;
    background-color:rgba(0,0,0,.8);
    position:absolute;
    width:100%;
    height:100%;
    z-index:10;
}


.BlahFullItem {
    display:none;
    background-color: transparent;
    position:absolute;
    width:100%;
    height:100%;
    z-index:20;
    margin: 0 8;
}




.BlahFullTable {
    border-spacing:0;
    border-collapse: collapse;
    border:0;
}

.feedback-div {
    position:fixed;
    bottom:0;
    right: 0;
    background-color: rgba(255,255,255,.5);
    padding-left: 8px;
    padding-right: 8px;
}

.network-status {
    position:fixed;
    bottom:0;
    left:0;
    height:32px;
}

.spinner-container {
    width:32px;
    height:32px;
    display:inline-block;
}

.spin-text {
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    color: rgba(255,255,255,.8);
    display: inline-block;
    position: relative;
    bottom: 10px;
}




.FullBlahTable {
    width: 100%;
    border-spacing:0;
}




.statsText
{
    font-size:12px;
    font-family: 'Arimo', sans-serif;
}

.statsText1
{
    font-size:12px;
    font-weight:bold;
    margin-top:200px;
}


.BlahCommentBody {
    font-size: 16px;
    width:100%;
    min-width:100%;
    word-wrap: break-word;
    padding-left:0;
    padding-right:0;
}

.NoCommentSpan {
    font-style: italic;
}


.comment {
    list-style: none outside none;
    margin-bottom: 24px;
}


.flipdown-btn {
    float: right;

}


.user-image {

}

.user-image-thumbnail {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.comment-content {
    margin-left: 60px;

}


.Comment-metadata {


}


.CommentAuthor {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    padding-right: 9px;
    color: #438bc5
}

.CommentDate {
    font-size:9px;
    color: #999;
}

a {
    text-decoration: none;
}

.CommentVote {
    font-size: 12px;

}


.UserChannelDiv {
    background:darkgrey;width:100%;height:100%

}

.SuggestSignIn {
    text-align: center;
    font-family: 'Arimo', sans-serif;    
    font-size:18px;
    background-color: rgb(179, 95, 5);
    color:white;
    margin: 4px;
    padding-right: 8px;
    padding-left:8px;
    padding-top:12px;
    width:80%;
    height:80%;
    border-radius: 8px;
    margin-left:40px;
}


.BlahgerNickName {
    font-family:'Arimo', sans-serif;
    font-size:20pt;
    color:white;
}

.BlahStatsTable {
    min-width: 100%;
}


.AddCommentBtn {
    float:right;
}
.CommentTextArea {
    width:100%;
    min-height:2em;
}


.detailpageheader
{
    height:auto;

    border-spacing:0px;
    border-collapse: collapse;
    border:0px;
}
.BlahRowVote
{
    height:70px;
    width: 100%;
}
.shorttitle
{   font-family:'Arimo',sans-serif;
    font-size:17px;
    color:#545253;
    margin-left:20px;

}
.shorttitle1
{   font-family:'Arimo',sans-serif;
    font-size:17px;
    margin-left:20px;
    color:#545253;
    border-top:1px solid grey;
}
.aboutyouframe
{
    width:100%;
    min-height:10px;
    font-size:12pt;
    font-family: 'Arimo', sans-serif;
    background-color:transparent;
    color:black;
    border:none;



}
.aboutbutton
{
    width:180px;
    height:50px;
    background-color:#FC7A56;
    border-radius:10px;
    border-color:transparent;
    color:white;
    font-size:16px;
    font-family:'Arimo',sans-serif;

}



/* self pages */




/* media-specific styles */
@media all and (max-width: 400px)  {
    .BlahDiv {
        border-radius: 0px;
        box-shadow: none;

    }
}

@media all and (max-width: 2000px) and (min-width: 401px)  {
    .BlahDiv {
        border-radius:8px;
        box-shadow: 5px 5px 4px rgba(0,0,0,0.2);

    }
}


@media only screen and (max-device-width: 480px) {
    /* iphone specific fixes */
    .BlahDiv {

        border-radius: 0px;
        box-shadow: none;
    }
}

/* iPad  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .BlahDiv {

        border-radius: 0px;
        box-shadow: none;
    }
}


@media (max-width: 400px) {
@-ms-viewport {
		.BlahDiv {

         border-radius: 0px;
         box-shadow: none;

     }
	}
}

