/* styles for the base of blahgua */



body {
    margin: 0;
    color: rgb(32,32,32);
}

textarea {
    resize: none;
    padding:4px;
    background-color: rgb(244,245,240);
}



input {
    font-size:16px;
    font-family: 'Arimo', sans-serif;
    text-align: left;
    padding: 4px;
    border-width: 0px;
    background-color: rgb(254,254,254);
    border: solid   1px #999999;
    border-radius: 4px;
    outline:none;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
}

input:focus {
    border: solid 1px rgb(125, 181, 227);
    box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    -webkit-box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    -moz-box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    background-color: rgb(255,255,255);

}

li.divider {
    border-bottom: 1px black solid;
}

li.divider:hover {
    background-color: rgb(244,245,240);
}


.fill-center-container {
    width: 100%;
    text-align: center;
}

.PageBody {
    position:fixed;
    margin:0;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:0;
    background-image: -moz-linear-gradient(rgb(31,33,51),rgb(105,107,117));
    background-image: -ms-linear-gradient(rgb(31,33,51),rgb(105,107,117));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(31,33,51)),color-stop(100%,rgb(105,107,117)));
    background-image: -webkit-linear-gradient(rgb(31,33,51),rgb(105,107,117));
    background-image: -o-linear-gradient(rgb(31,33,51),rgb(105,107,117));
    background-image: linear-gradient(rgb(31,33,51),rgb(105,107,117));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#1F2133', EndColorStr='#696B75');
}

.site-down-div {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/down2.jpg");
}

.Overlay {
    z-index:100;
}

.BlahContainer {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-image: -moz-linear-gradient(rgb(31,33,51),rgb(105,107,117));
    background-image: -ms-linear-gradient(rgb(31,33,51),rgb(105,107,117));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(31,33,51)),color-stop(100%,rgb(105,107,117)));
    background-image: -webkit-linear-gradient(rgb(31,33,51),rgb(105,107,117));
    background-image: -o-linear-gradient(rgb(31,33,51),rgb(105,107,117));
    background-image: linear-gradient(rgb(31,33,51),rgb(105,107,117));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#1F2133', EndColorStr='#696B75');
    overflow:hidden;
}


.BlahDiv {
    background-color:rgb(32,32,32);
    font-family: 'Arimo', sans-serif;

    overflow:hidden;
    vertical-align:middle;
    background-size: cover;

    border-radius: 8px;

    border-top-style:solid;
    border-width:7px;

}

.BlahDiv:hover {
    box-shadow: 0px 0px 15px rgb(244,245,240);

}


.ChannelLoadingDiv {
    margin:100px auto;
    border-radius: 16px;
    background-color: rgba(255,255,255,.5);
    text-align: center;
    width: 200px;
}

.ChannelLoadingDiv img {
    margin: 16px auto;
    width: 48px;
    height: 48px;
}

.ChannelLoadingDiv span {
    font-family: 'Arimo', sans-serif;
    color: rgb(244, 245, 240);
    text-shadow: 2px 2px rgba(0,0,0,.5);
    font-size: 18px;
    display: block;
    padding-bottom: 16px;
}

.LightBox {
    display:none;
    background-color:rgba(0,0,0,.8);
    position:absolute;
    width:100%;
    height:100%;
    z-index:10;
}


.BlahFullItem {
    display:none;
    background-color: transparent;
    position:fixed;
    z-index:20;
}

.load-panel {
    position:fixed;
    left:0px;
    right:0px;
    z-index:100;
    height:250px;
    top:100px;
    text-align: center;
}

.splash-page {
    border-style:none;
    padding:8px;
    border-radius: 16px;
    margin:0 auto;
}

.splash {
    color: rgb(244,245,240);
    text-align: center;
    font-family: 'Arimo', sans-serif;
    background-color: rgb(125, 181, 227);
    border-radius: 16px;

}


.splash-footer {
    background-color: rgb(122,208,0);
    color: rgb(244,245,240);
    text-align: left;
    padding: 16px;
    font-size: 18px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.splash-closer {
    position: absolute;
    top: 32px;
    right: 32px;
}

.splash-footer h2 {
    text-decoration: underline;
    font-size: 22px;
    line-height: 1.5em;
}

.splash-footer ul {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 1.5em;
    font-size:22px;
}

.splash-footer a {
    color: rgb(244,245,240);
    text-decoration: underline;

}

.splash-footer div {
    text-align: center;
    font-size: 22px;
}

.splash-image {
    width: 360px;
    height: 110px;
    display: inline-block;
    background-size: cover;
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/images/Blahgua logo.PNG');
    margin: 16px;
}

.splash-body {
    background-color: rgb(125, 181, 227);
    color: rgb(244,245,240);
    font-style: italic;
    margin: 0px 16px 16px 16px;
    text-align: left;
    font-size: 22px;
    line-height: 1.5em;
}



.BlahFullTable {
    border-spacing:0;
    border-collapse: collapse;
    border:0;
}

.feedback-div {
    position:fixed;
    bottom:0;
    right: 0;
    background-color: rgba(255,255,255,.5);
    padding-left: 8px;
    padding-right: 8px;
}

.network-status {
    position:fixed;
    bottom:0;
    left:0;
    height:32px;
}

.spinner-container {
    width:32px;
    height:32px;
    display:inline-block;
}

.spin-text {
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    color: rgba(244,245,240,.8);
    display: inline-block;
    position: relative;
    bottom: 10px;
}




.FullBlahTable {
    width: 100%;
    border-spacing:0;
}




.statsText
{
    font-size:12px;
    font-family: 'Arimo', sans-serif;
}

.statsText1
{
    font-size:12px;
    font-weight:bold;
    margin-top:200px;
}


.BlahCommentBody {
    font-size: 16px;
    width:100%;
    min-width:100%;
    padding-left:0;
    padding-right:0;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
}

.NoCommentSpan {
    font-style: italic;
}


.comment {
    list-style: none outside none;
    margin-bottom: 24px;
}


.flipdown-btn {
    float: right;

}


.user-image-thumbnail {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.comment-content {
    margin-left: 60px;

}


.Comment-metadata {


}


.CommentAuthor {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    padding-right: 9px;
    color: RGB(125,181,227)
}

.CommentDate {
    font-size:9px;
    color: rgb(188,188,188);
}

a {
    text-decoration: none;
}

.CommentVote {
    font-size: 12px;

}


.UserChannelDiv {
    background:transparent;
    width:100%;
    height:100%

}

.SuggestSignIn {
    text-align: center;
    font-family: 'Arimo', sans-serif;    
    font-size:18px;
    background-color: rgb(84,86,98);
    background-image: -moz-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -ms-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(105,108,123)),color-stop(100%,rgb(84,86,98)));
    background-image: -webkit-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -o-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: linear-gradient(rgb(105,108,123),rgb(84,86,98));
    border: 1px solid rgb(88,90,103);
    color: rgb(244,245,240);
    margin: 4px;
    padding-right: 8px;
    padding-left:8px;
    padding-top:6px;
    width:35%;
    height:60%;
    border-radius: 8px;
    margin-left:200px;
}

.SuggestSignIn:hover {
    background-color: rgb(71,73,83);
    background-image: -moz-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -ms-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(84,86,98)),color-stop(100%,rgb(63,65,74)));
    background-image: -webkit-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -o-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: linear-gradient(rgb(84,86,98),rgb(63,65,74));
color:rgb(244,245,240);
}

.BlahgerNickName {
    font-family:'Arimo', sans-serif;
    font-size:20pt;
    color:rgb(244,245,240)
}

.BlahStatsTable {
    min-width: 100%;
}


.AddCommentBtn {
    float:right;
}
.CommentTextArea {
    width:100%;
    min-height:2em;
}


.detailpageheader
{
    height:auto;

    border-spacing:0px;
    border-collapse: collapse;
    border:0px;
}
.BlahRowVote
{
    height:70px;
    width: 100%;
}
.shorttitle
{   font-family:'Arimo',sans-serif;
    font-size:17px;
    color:rgb(124,124,124);
    margin-left:20px;
    padding-left: 12px;

}
.shorttitle1
{   font-family:'Arimo',sans-serif;
    font-size:17px;
    margin-left:20px;
    color:rgb(124,124,124);
    border-top:1px solid rgb(188,188,188);
}
.aboutyouframe
{
    width:100%;
    min-height:10px;
    font-size:12pt;
    font-family: 'Arimo', sans-serif;
    background-color:transparent;
    color:rgb(32,32,32);
    border:none;



}
.aboutbutton
{
    width:180px;
    height:50px;
    background-color:rgb(248,120,88);
    border-radius:10px;
    border-color:transparent;
    color:rgb(255,255,255);
    font-size:16px;
    font-family:'Arimo',sans-serif;

}

.back-button {
    display:inline-block;
    width:48px;
    height:48px;
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/back.png");
    background-size: cover;
    margin-right:0px;
}

.back-button:hover {
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/backover1.png");

}

.float-right {
    float:right;
}

::-webkit-input-placeholder {
    color: #d3d3d3;
}

:-moz-placeholder { /* Firefox 18- */
    color: #d3d3d3;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #d3d3d3;
}

:-ms-input-placeholder {
    color: #d3d3d3;
}

/* self pages */


/* dialog */
.click-shield {
    position: fixed;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    background-color: rgba(0,0,0,.2);
    z-index: 50;
    padding:16px;
}

.dialog-box {
    margin: 60px auto;
    background-color: rgb(125,181,227);
    border: 1px solid rgb(244,245,240);
    border-radius: 8px;
    max-width: 500px;
    font-size:20px;
    font-family:'Arimo',sans-serif;

}

.dialog-box table {
    width:100%;
}

.dialog-box table tr {
    width:100%;
}


.dialog-prompt-container {
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
    text-align: left;
    padding: 16px 32px;

}

.dialog-btn-container {
    text-align: right;
    background-color: rgb(122,208,0);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.dialog-prompt {
    color: rgb(244,245,240);

}

.dialog-button {
    padding: 5px 24px;
    border-radius: 8px;
    text-align: center;
    margin: 8px;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    background-color: #999999;
    background-image: -moz-linear-gradient(#999999,#888888);
    background-image: -ms-linear-gradient(#999999,#888888);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#999999),color-stop(100%,#888888));
    background-image: -webkit-linear-gradient(#999999,#888888);
    background-image: -o-linear-gradient(#999999,#888888);
    background-image: linear-gradient(#999999,#888888);
    border: 1px solid #888888;
    color: rgb(244,245,240);
}
.dialog-button:hover {
    background-color: rgb(71,73,83);
    background-image: -moz-linear-gradient(#888888,#777777);
    background-image: -ms-linear-gradient(#888888,#777777);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#888888),color-stop(100%,#777777));
    background-image: -webkit-linear-gradient(#888888,#777777);
    background-image: -o-linear-gradient(#888888,#777777);
    background-image: linear-gradient(#888888,#777777);
    color: rgb(244,245,240);
}

.dialog-yes {
    background-color: rgb(84,86,98);
    background-image: -moz-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -ms-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(105,108,123)),color-stop(100%,rgb(84,86,98)));
    background-image: -webkit-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -o-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: linear-gradient(rgb(105,108,123),rgb(84,86,98));
    border: 1px solid rgb(88,90,103);
    color: rgb(244,245,240);

}
.dialog-yes:hover {
    background-color: rgb(71,73,83);
    background-image: -moz-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -ms-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(84,86,98)),color-stop(100%,rgb(63,65,74)));
    background-image: -webkit-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -o-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: linear-gradient(rgb(84,86,98),rgb(63,65,74));
    color: rgb(244,245,240);
}


.promote-btn {
    width:36px;
    height:36px;
    background-size:cover;
    display: inline-block;
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/black_promote.png');
}

.promote-btn.disabled {
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/black_promote_disabled.png');
}

.promote-btn.checked {
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/green_promote.png');
}

.demote-btn {
    width:36px;
    height:36px;
    background-size:cover;
    display: inline-block;
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/black_demote.png');
}

.demote-btn.disabled {
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/black_demote_disabled.png');
}

.demote-btn.checked {
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/green_demote.png');
}

.logo {
    width:341px;
    height:99px;
    display: inline-block;
    background-size:cover;
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/images/Blahgua logo.PNG');
}


.validation-error {
    color: red;
    margin-left: 8px;
    margin-right: 4px;
    margin-top: -5px;
    position: absolute;
}


.chart-mask {
    width:100%;
    height:100%;
    display:inline-block;
    background-color: rgba(255,255,255,.8);
    text-align: center;
    vertical-align: middle;
    position: relative;
    top:-200px;

}

.chart-mask.blank {
    background-color: rgba(255,255,255,0);
}

.chart-mask div {
    padding: 12px;
    color: #333333;
    font-style: italic;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    margin: 50px 0px;
}

.hidden-upload {
    position:absolute;
    left: 0px;
    top: 0px;
    max-width: 68px;
    width:68px;
    height:68px;
    max-height: 68px;
    overflow:hidden;
    margin:24px 4px 8px 24px;
    opacity:0
}

.hidden-upload.comment-upload {
    margin: 0px 4px 8px 12px;
}

.hidden-upload.userimage-upload {
    position: relative;
    left: -24px;
    top: -88px;
}

.hidden-upload.short {
    left: 10px;
    top: 140px;
    margin: 0px 4px 8px 0px;

}

.hidden-upload.comment-upload.short {
    left: 0px;
    top: 0px;
    margin: 0px 4px 8px 12px;

}

.hidden-upload.userimage-upload.short {
    position: relative;
    left: 0px;
    top: -64px;
}




.hidden-upload input[type=file] {
    height:68px;
    width:68px;
    padding:0px;
}


@media all and (max-width: 2000px) and (min-width: 401px)  {
    .BlahDiv {
        border-radius:8px;


    }
}


/* iPad  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .BlahDiv {

        border-radius: 0px;
        box-shadow: none;
    }
}