/* styles for the base of blahgua */



body {
    margin: 0;
    color: rgb(32,32,32);
}

textarea {
    resize: none;
    padding:4px;
    background-color: rgb(244,245,240);
}




input {
    font-size:16px;
    font-family: 'Arimo', sans-serif;
    text-align: left;
    padding: 4px;
    border-size:0px;
    background-color: rgb(250,250,247);
    border: solid   1px #999999;
    border-radius: 4px;
    outline:none;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
}

input:focus {
    border: solid 1px rgb(125, 181, 227);
    box-shadow: 0 0 5px ;
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999);
    background-color: rgb(255,255,255);

}


.fill-center-container {
    width: 100%;
    text-align: center;
}

.PageBody {
    position:absolute;
    margin:0;
    width:100%;
    height:100%;
    z-index:0;
 background: linear-gradient(to bottom, rgb(31,33,51) 7%, rgb(105,107,117) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, from (#1F2133),to(#696B75));
  background-image: -webkit-linear-gradient(top, rgb(31,33,51), rgb(105,107,117));
  background-image: -moz-linear-gradient(top, rgb(31,33,51), rgb(105,107,117));
  background-image: -ms-linear-gradient(top, rgb(31,33,51), rgb(105,107,117));
  background-image: -o-linear-gradient(top, rgb(31,33,51), rgb(105,107,117));
  background-image: linear-gradient(top, rgb(31,33,51), rgb(105,107,117));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#1F2133', EndColorStr='#696B75'); )

}
rgb(31,33,51) 7%, rgb(105,107,117) 100%)

.Overlay {
    z-index:100;
}

.BlahContainer {
    position: absolute;
    height:100%;
 background: linear-gradient(to bottom, rgb(31,33,51) 7%, rgb(105,107,117) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, from (#1F2133), to(#696B75));
  background-image: -webkit-linear-gradient(top, rgb(31,33,51), rgb(105,107,117));
  background-image: -moz-linear-gradient(top, rgb(31,33,51), rgb(105,107,117));
  background-image: -ms-linear-gradient(top, rgb(31,33,51), rgb(105,107,117));
  background-image: -o-linear-gradient(top, rgb(31,33,51), rgb(105,107,117));
  background-image: linear-gradient(top, rgb(31,33,51), rgb(105,107,117));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#1F2133', EndColorStr='#696B75'); 
overflow:hidden;
}


.BlahDiv {
    background-color:rgb(32,32,32);
    font-family: 'Arimo', sans-serif;

    overflow:hidden;
    vertical-align:middle;
    background-size: cover;

    border-radius: 8px;

    border-top-style:solid;
    border-width:7px;
}

.BlahDiv:hover {
    box-shadow: 0px 0px 15px rgb(244,245,240);

}


.LightBox {
    display:none;
    background-color:rgba(0,0,0,.8);
    position:absolute;
    width:100%;
    height:100%;
    z-index:10;
}


.BlahFullItem {
    display:none;
    background-color: transparent;
    position:absolute;
    z-index:20;
}




.BlahFullTable {
    border-spacing:0;
    border-collapse: collapse;
    border:0;
}

.feedback-div {
    position:fixed;
    bottom:0;
    right: 0;
    background-color: rgba(255,255,255,.5);
    padding-left: 8px;
    padding-right: 8px;
}

.network-status {
    position:fixed;
    bottom:0;
    left:0;
    height:32px;
}

.spinner-container {
    width:32px;
    height:32px;
    display:inline-block;
}

.spin-text {
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    color: rgba(244,245,240,.8);
    display: inline-block;
    position: relative;
    bottom: 10px;
}




.FullBlahTable {
    width: 100%;
    border-spacing:0;
}




.statsText
{
    font-size:12px;
    font-family: 'Arimo', sans-serif;
}

.statsText1
{
    font-size:12px;
    font-weight:bold;
    margin-top:200px;
}


.BlahCommentBody {
    font-size: 16px;
    width:100%;
    min-width:100%;
    word-wrap: break-word;
    padding-left:0;
    padding-right:0;
}

.NoCommentSpan {
    font-style: italic;
}


.comment {
    list-style: none outside none;
    margin-bottom: 24px;
}


.flipdown-btn {
    float: right;

}


.user-image {

}

.user-image-thumbnail {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.comment-content {
    margin-left: 60px;

}


.Comment-metadata {


}


.CommentAuthor {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    padding-right: 9px;
    color: RGB(125,181,227)
}

.CommentDate {
    font-size:9px;
    color: rgb(188,188,188);
}

a {
    text-decoration: none;
}

.CommentVote {
    font-size: 12px;

}


.UserChannelDiv {
    background:transparent;
    width:100%;
    height:100%

}

.SuggestSignIn {
    text-align: center;
    font-family: 'Arimo', sans-serif;    
    font-size:18px;
    background-color: #555555;
    color: rgb(244,245,240);
    margin: 4px;
    padding-right: 8px;
    padding-left:8px;
    padding-top:6px;
    width:35%;
    height:60%;
    border-radius: 8px;
    margin-left:200px;
}

.SuggestSignIn:hover {
    background-color: #444444;
color:rgb(244,245,240);
}

.BlahgerNickName {
    font-family:'Arimo', sans-serif;
    font-size:20pt;
    color:rgb(244,245,240)
}

.BlahStatsTable {
    min-width: 100%;
}


.AddCommentBtn {
    float:right;
}
.CommentTextArea {
    width:100%;
    min-height:2em;
}


.detailpageheader
{
    height:auto;

    border-spacing:0px;
    border-collapse: collapse;
    border:0px;
}
.BlahRowVote
{
    height:70px;
    width: 100%;
}
.shorttitle
{   font-family:'Arimo',sans-serif;
    font-size:17px;
    color:rgb(124,124,124);
    margin-left:20px;
    padding-left: 12px;

}
.shorttitle1
{   font-family:'Arimo',sans-serif;
    font-size:17px;
    margin-left:20px;
    color:rgb(124,124,124);
    border-top:1px solid rgb(188,188,188);
}
.aboutyouframe
{
    width:100%;
    min-height:10px;
    font-size:12pt;
    font-family: 'Arimo', sans-serif;
    background-color:transparent;
    color:rgb(32,32,32);
    border:none;



}
.aboutbutton
{
    width:180px;
    height:50px;
    background-color:rgb(248,120,88);
    border-radius:10px;
    border-color:transparent;
    color:rgb(255,255,255);
    font-size:16px;
    font-family:'Arimo',sans-serif;

}

.back-button {
    display:inline-block;
    width:48px;
    height:48px;
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/Large_BackGreen.png");
    background-size: cover;
    margin-right:8px;
}

.back-button:hover {
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/Large_BackWhite.png");

}

.float-right {
    float:right;
}

/* self pages */


/* dialog */
.click-shield {
    position: fixed;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
}

.dialog-box {
    margin: 60px auto;
    background-color: rgb(125,181,227);
    border: 1px solid rgb(255,255,255);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,.3);
    border-radius: 8px;
    max-width: 500px;

}

.dialog-box table {
    width:100%;
}

.dialog-box table tr {
    width:100%;
}


.dialog-prompt-container {
    font-size: 24px;
    font-family: 'Arimo' sans-serif;
    text-align: left;
    padding: 16px 32px;

}

.dialog-btn-container {
    text-align: right;
    background-color: rgb(122,208,0);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.dialog-prompt {
    color: rgb(244,245,240);

}

.dialog-button {
    padding: 5px 24px;
    border-radius: 8px;
    text-align: center;
    border: none;
    margin: 8px;
    font-family: 'Arimo' sans-serif;
    font-size: 16px;
    color: rgb(32, 32, 32);
    background-color: rgb(244,245,240);
}


.dialog-yes {
    background-color: rgb(170, 109, 0);
    color: rgb(255,255,255);
}

.promote-btn {
    width:36px;
    height:36px;
    background-size:cover;
    display: inline-block;
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/black_promote.png');
}

.promote-btn.disabled {
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/black_promote_disabled.png');
}

.promote-btn.checked {
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/black_promote_checked.png');
}

.demote-btn {
    width:36px;
    height:36px;
    background-size:cover;
    display: inline-block;
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/black_demote.png');
}

.demote-btn.disabled {
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/black_demote_disabled.png');
}

.demote-btn.checked {
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/black_demote_checked.png');
}

.logo {
    width:341px;
    height:99px;
    display: inline-block;
    background-size:cover;
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/images/Blahgua logo.PNG');
}

.splash-image {
    text-align: center;
    width:36px;
    height:36px;
    display: inline-block;
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/images/Blahgua logo.PNG');
}

.validation-error {
    color: red;
    margin-left: 8px;
    margin-right: 4px;
    margin-top: 10px;
    position: absolute;
}


.chart-mask {
    width:100%;
    height:100%;
    display:inline-block;
    background-color: rgba(255,255,255,.8);
    text-align: center;
    vertical-align: middle;
    position: relative;
    top:-200px;

}

.chart-mask div {
    padding: 12px;
    color:black;
    font-style: italic;
    font-size:18px;
    font-family: 'Arimo' sans-serif;
    margin:auto 0;
}


/* media-specific styles */
@media all and (max-width: 400px)  {
    .BlahDiv {
        border-radius: 0px;
        box-shadow: none;

    }
	.logo {
    width:170px;
    height:49px;

}
.back-button {
    width:28px;
    height:28px;
    background-size: 28px; 
}
}

@media all and (max-width: 2000px) and (min-width: 401px)  {
    .BlahDiv {
        border-radius:8px;


    }
}


@media all and (max-width: 400px) {
    /* iphone specific fixes */
    .BlahDiv {

        border-radius: 0px;
        box-shadow: none;
    }

    .dialog-prompt-container {
        font-size: 16px;
        padding: 12px 12px;

    }

    .feedback-div {
        display:none;
    }
}

/* iPad  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .BlahDiv {

        border-radius: 0px;
        box-shadow: none;
    }
}


@media (max-width: 400px) {
@-ms-viewport {
		.BlahDiv {

         border-radius: 0px;
         box-shadow: none;

     }
	}
}

