/* styles for the base of blahgua */



body {
    margin: 0;
    color: black;
}

textarea {
    resize: none;
    padding:4px;
    background-color: white;
}

input {
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
}


.fill-center-container {
    width: 100%;
    text-align: center;
}

.PageBody {
    position:absolute;
    margin:0;
    width:100%;
    height:100%;
    z-index:0;
    background: linear-gradient(to bottom, rgb(58,60,75) 7%, rgb(126,129,136) 98%, rgb(244, 245, 240) 100%);
}

.Overlay {
    z-index:100;
}

.BlahContainer {
    position: absolute;
    height:100%;
    background: linear-gradient(to bottom, rgb(58,60,75) 7%, rgb(126,129,136) 98%, rgb(244, 245, 240) 100%);
    overflow:hidden;
}


.BlahDiv {
    background-color:#000000;
    font-family: 'Arimo', sans-serif;

    overflow:hidden;
    vertical-align:middle;
    background-size: cover;

    border-radius: 8px;

    border-top-style:solid;
    border-width:7px;
}



.LightBox {
    display:none;
    background-color:rgba(0,0,0,.8);
    position:absolute;
    width:100%;
    height:100%;
    z-index:10;
}


.BlahFullItem {
    display:none;
    background-color: transparent;
    position:absolute;
    z-index:20;
}




.BlahFullTable {
    border-spacing:0;
    border-collapse: collapse;
    border:0;
}

.feedback-div {
    position:fixed;
    bottom:0;
    right: 0;
    background-color: rgba(255,255,255,.5);
    padding-left: 8px;
    padding-right: 8px;
}

.network-status {
    position:fixed;
    bottom:0;
    left:0;
    height:32px;
}

.spinner-container {
    width:32px;
    height:32px;
    display:inline-block;
}

.spin-text {
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    color: rgba(255,255,255,.8);
    display: inline-block;
    position: relative;
    bottom: 10px;
}




.FullBlahTable {
    width: 100%;
    border-spacing:0;
}




.statsText
{
    font-size:12px;
    font-family: 'Arimo', sans-serif;
}

.statsText1
{
    font-size:12px;
    font-weight:bold;
    margin-top:200px;
}


.BlahCommentBody {
    font-size: 16px;
    width:100%;
    min-width:100%;
    word-wrap: break-word;
    padding-left:0;
    padding-right:0;
}

.NoCommentSpan {
    font-style: italic;
}


.comment {
    list-style: none outside none;
    margin-bottom: 24px;
}


.flipdown-btn {
    float: right;

}


.user-image {

}

.user-image-thumbnail {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.comment-content {
    margin-left: 60px;

}


.Comment-metadata {


}


.CommentAuthor {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    padding-right: 9px;
    color: #438bc5
}

.CommentDate {
    font-size:9px;
    color: #999;
}

a {
    text-decoration: none;
}

.CommentVote {
    font-size: 12px;

}


.UserChannelDiv {
    background:transparent;
    width:100%;
    height:100%

}

.SuggestSignIn {
    text-align: center;
    font-family: 'Arimo', sans-serif;    
    font-size:18px;
    background-color: rgb(179, 95, 5);
    color:white;
    margin: 4px;
    padding-right: 8px;
    padding-left:8px;
    padding-top:6px;
    width:35%;
    height:60%;
    border-radius: 8px;
    margin-left:200px;
}


.BlahgerNickName {
    font-family:'Arimo', sans-serif;
    font-size:20pt;
    color:white;
}

.BlahStatsTable {
    min-width: 100%;
}


.AddCommentBtn {
    float:right;
}
.CommentTextArea {
    width:100%;
    min-height:2em;
}


.detailpageheader
{
    height:auto;

    border-spacing:0px;
    border-collapse: collapse;
    border:0px;
}
.BlahRowVote
{
    height:70px;
    width: 100%;
}
.shorttitle
{   font-family:'Arimo',sans-serif;
    font-size:17px;
    color:#545253;
    margin-left:20px;

}
.shorttitle1
{   font-family:'Arimo',sans-serif;
    font-size:17px;
    margin-left:20px;
    color:#545253;
    border-top:1px solid grey;
}
.aboutyouframe
{
    width:100%;
    min-height:10px;
    font-size:12pt;
    font-family: 'Arimo', sans-serif;
    background-color:transparent;
    color:black;
    border:none;



}
.aboutbutton
{
    width:180px;
    height:50px;
    background-color:#FC7A56;
    border-radius:10px;
    border-color:transparent;
    color:white;
    font-size:16px;
    font-family:'Arimo',sans-serif;

}

.back-button {
    display:inline-block;
    width:48px;
    height:48px;
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/back.png");
    background-size: cover;
    margin-right:8px;
}


.float-right {
    float:right;
}

/* self pages */


/* dialog */
.click-shield {
    position: fixed;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
}

.dialog-box {
    margin: 60px auto;
    background-color: rgb(125,181,227);
    border: 1px solid white;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,.3);
    border-radius: 8px;
    max-width: 500px;

}

.dialog-box table {
    width:100%;
}

.dialog-box table tr {
    width:100%;
}


.dialog-prompt-container {
    font-size: 24px;
    font-family: 'Arimo' sans-serif;
    text-align: left;
    padding: 16px 32px;

}

.dialog-btn-container {
    text-align: right;
    background-color: rgb(122,208,0);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.dialog-prompt {
    color: rgb(245,244,240);

}

.dialog-button {
    padding: 5px 24px;
    border-radius: 8px;
    text-align: center;
    border: none;
    margin: 8px;
    font-family: 'Arimo' sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: rgb(245,244,240);
}


.dialog-yes {
    background-color: rgb(170, 109, 0);
    color: white;
}

/* media-specific styles */
@media all and (max-width: 400px)  {
    .BlahDiv {
        border-radius: 0px;
        box-shadow: none;

    }
}

@media all and (max-width: 2000px) and (min-width: 401px)  {
    .BlahDiv {
        border-radius:8px;


    }
}


@media only screen and (max-device-width: 480px) {
    /* iphone specific fixes */
    .BlahDiv {

        border-radius: 0px;
        box-shadow: none;
    }
}

/* iPad  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .BlahDiv {

        border-radius: 0px;
        box-shadow: none;
    }
}


@media (max-width: 400px) {
@-ms-viewport {
		.BlahDiv {

         border-radius: 0px;
         box-shadow: none;

     }
	}
}

