/* styles related to the blah roll */

.BlahTextDiv {
    background-color: rgb(245, 244, 240);
    font-family: 'Arimo', sans-serif;
    overflow-x:hidden;
    height:auto;
    width:auto;
    font-size:9px;
    padding: 4px;
    text-align:left;
}


.BlahAltTextDiv {
    font-size:9px;
    text-align:left;

}

.BlahExpandTextDiv {
    text-align:left;
    font-size:9px;
}


.SmallBlahFormat {

}

.XSmallBlahFormat {

}

.MediumBlahFormat {

}


.LargeBlahFormat {

}

.users-own-blah {
    border-size:7px;
    border-top-style:dotted;
}

.BlahTypeSays {
    color: rgba(40,40,40,1);
    background-color: rgba(244,245,240,0.425);
    border-color:rgba(125,181,227,1);
}

.BlahTypeAsks {
    color: rgba(40,40,40,1);
    background-color: rgba(244,245,240,0.425);
    border-color:rgba(122,208,0,1)
}

.BlahTypeLeaks {
    color: rgba(40,40,40,1);
    background-color: rgba(244,245,240,0.45);
    border-color:rgba(248,120,88,1)
}

.BlahTypePolls {
    color: rgba(40,40,40,1);
    background-color: rgba(244,245,240,0.425);
    border-color:rgba(248,184,0,1)

}

.BlahTypePredicts {
    color: rgba(40,40,40,1);
    background-color: rgba(244,245,240,0.425);
    border-color:rgba(248,120,248,1)  

}

.BlahTypeAd {
    color: white;
    background-color:blue;
    border-color: blue;

}


.BlahTypeSaysImgText {
    color: rgba(32,32,32,1);
    background-color: rgba(244,245,240,0.475);
    border-color:rgba(125,181,227,1)
}


.BlahTypeAsksImgText {
    color: rgba(32,32,32,1);
    background-color: rgba(244,245,240,0.475);
    border-color:rgba(122,208,0,1)
}


.BlahTypeLeaksImgText {
    color: rgba(32,32,32,1);
    background-color: rgba(244,245,240,0.475);
    border-color:rgba(248,120,88,1)
}

.BlahTypePollsImgText {
    color: rgba(32,32,32,1);
    background-color: rgba(244,245,240,0.475);
    border-color:rgba(248,184,0,1)
}

.BlahTypePredictsImgText {
    color: rgba(32,32,32,1);
    background-color: rgba(244,245,240,0.475);
    border-color:rgba(248,120,248,1) 
}

.BlahTypeAddImgText {
    color: white;
    background-color: rgba(0,0,255,0.6);
}


.BlahImage {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    opacity:0.5;
    z-index:5;
}


.no-blahs-in-channel-warning {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    background-color: orange;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    margin-top: 65px;
    padding-bottom: 30px;
}

.no-blahs-in-channel-warning a {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    background-color: white;
    border-radius: 8px;
    margin: 8px;
    display: inline-block;
    padding: 8px;
    margin-top: 16px;
    margin-left: 100px;
}
