/* styles related to the blah roll */

.BlahTextDiv {

    font-family: 'Arimo', sans-serif;
    overflow:hidden;
    padding-left: 8px;
    padding-right: 8px;
    text-align:left;
}


.BlahAltTextDiv {
    text-align:left;
    text-shadow: rgba(32,32,32,.5) 0.1em 0.1em 0.2em;


}

.BlahExpandTextDiv {
    text-align:left;
    text-shadow: rgba(32,32,32,.5) 0.1em 0.1em 0.2em;
}

.finished-sizing {
    position:absolute;
    bottom:0px;
    width:100%;
}


.SmallBlahFormat {

}

.XSmallBlahFormat {

}

.MediumBlahFormat {

}


.LargeBlahFormat {

}

.users-own-blah {
    border-width:7px;
    border-top-style:dotted;
}

.BlahTypeSays {
    color: rgba(244,245,240,1);
    background-color: rgba(125,181,227,0.4);
    border-color:rgba(125,181,227,1);
}

.BlahTypeAsks {
    color: rgba(244,245,240,1);
    background-color: rgba(122,208,0,0.4);
    border-color:rgba(122,208,0,1)
}

.BlahTypeLeaks {
    color: rgba(244,245,240,1);
    background-color: rgba(248,120,88,0.4);
    border-color:rgba(248,120,88,1)
}

.BlahTypePolls {
    color: rgba(244,245,240,1);
    background-color: rgba(248,184,0,0.4);
    border-color:rgba(248,184,0,1)

}

.BlahTypePredicts {
    color: rgba(244,245,240,1);
    background-color: rgba(250,250,100,0.4);
    border-color:rgba(250,250,100,1)

}

.BlahTypeAd {
    color: rgb(255,255,255);
    background-color:blue;
    border-color: blue;

}


.BlahTypeSaysImgText {
    color: rgba(244,245,240,1);
    background-color: rgba(32,32,32,0.4);
    border-color:rgba(125,181,227,1)
}


.BlahTypeAsksImgText {
    color: rgba(244,245,240,1);
    background-color: rgba(32,32,32,0.4);
    border-color:rgba(122,208,0,1)
}


.BlahTypeLeaksImgText {
    color: rgba(244,245,240,1);
    background-color: rgba(32,32,32,0.4);
    border-color:rgba(248,120,88,1)
}

.BlahTypePollsImgText {
    color: rgba(244,245,240,1);
    background-color: rgba(32,32,32,0.4);
    border-color:rgba(248,184,0,1)
}

.BlahTypePredictsImgText {
    color: rgba(244,245,240,1);
    background-color: rgba(32,32,32,0.4);
    border-color: rgb(250,250,100)
}

.BlahTypeAddImgText {
    color: rgb(255,255,255);
    background-color: rgba(0,0,255,0.6);
}


.BlahImage {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    opacity:0.5;
    z-index:5;
}


.no-blahs-in-channel-warning {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    background-color: orange;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    margin-top: 65px;
    padding-bottom: 30px;
}

.no-blahs-in-channel-warning a {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    background-color: rgb(255,255,255);
    border-radius: 8px;
    margin: 8px;
    display: inline-block;
    padding: 8px;
    margin-top: 16px;
    margin-left: 100px;
}
