/* styles for the preview and detail pages */

/* classes for the blah detail page */

.full-blah-div {
    top:0px;
    bottom:0px;
    position:absolute;
    width:100%;
}

.BlahFullImage {
    width:100%;
}


.BlahPageFooter {
    position:absolute;
    bottom:0px;
    width:100%;
    height:60px;
    border-collapse: collapse;
    background-color: transparent;
}

.BlahPageFooter tbody {
    vertical-align: top;
}

.author-image {
    width:56px;
    height:56px;
    background-color:rgb(244,245,240);
    background-size:cover;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(32,32,32);
    margin: 2px;
    margin-right: 16px;
    margin-left: 8px;
}

.BlahFullHeader {
    border-spacing:0px;
    border-collapse: collapse;
    border:0px;
    top:0px;
    width:100%;
    background-color: transparent;
}

.show-blah-bkgnd {
    background-color: rgb(244,245,240);
}

.blah-headline-row {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blah-page {
    background-color: rgb(244,245,240);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    width: 100%;
    bottom: 60px;
    top: 160px;
    box-shadow: 0px 5px 5px rgba(0,0,0,.3);
    z-index: 2;
}


.fullBlahgerName {
    font-size:30px;
    font-weight: bold;
    font-family: 'Arimo', sans-serif;
    color:rgb(244,245,240);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.fullBlahSpeechAct {
    font-size:26px;
    font-family: 'Arimo', sans-serif;
    color:rgb(188,188,188);
}

.CloseButton {
    width:32px;
    height:32px;
    border:none;
    background-color: rgb(255,255,255);
    color:rgb(248,120,88);
    font-size:18px;
    border-radius: 6px;
    margin:8px;
}

.CloseButton:hover {
    background-color: red;
    color:rgb(255,255,255);

}

.BlahFullHeadline {
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
    width: 100%;
    text-align: left;
    margin: 16px 16px 16px 16px;
    padding: 12px 12px;
    word-wrap: break-word;
}



.BlahButton span {

}
.BlahButton {
    width:100%;
    height:40px;
    border:none;
    background-image: -moz-linear-gradient(rgb(244,245,240),rgb(183,184,180));
    background-image: -ms-linear-gradient(rgb(244,245,240),rgb(183,184,180));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(244,245,240)),color-stop(100%,rgb(183,184,180)));
    background-image: -webkit-linear-gradient(rgb(244,245,240),rgb(183,184,180));
    background-image: -o-linear-gradient(rgb(244,245,240),rgb(183,184,180));
    background-image: linear-gradient(rgb(244,245,240),rgb(183,184,180));
    background-color: rgb(244,245,240);
    color: rgb(32,32,32);
    font-size:18px;
}

.BlahButton:hover {
    background-image: -moz-linear-gradient(rgb(207,208,203),rgb(155,156,152));
    background-image: -ms-linear-gradient(rgb(207,208,203),rgb(155,156,152));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(207,208,203)),color-stop(100%,rgb(155,156,152)));
    background-image: -webkit-linear-gradient(rgb(207,208,203),rgb(155,156,152));
    background-image: -o-linear-gradient(rgb(207,208,203),rgb(155,156,152));
    background-image: linear-gradient(rgb(207,208,203),rgb(155,156,152));
    background-color: rgb(207,208,203);
    color: rgb(32,32,32);

}

.BlahBtnSelected {
    background-image: -moz-linear-gradient(rgb(141,204,255),rgb(109,158,199));
    background-image: -ms-linear-gradient(rgb(141,204,255),rgb(109,158,199));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(141,204,255)),color-stop(100%,rgb(109,158,199)));
    background-image: -webkit-linear-gradient(rgb(141,204,255),rgb(109,158,199));
    background-image: -o-linear-gradient(rgb(141,204,255),rgb(109,158,199));
    background-image: linear-gradient(rgb(141,204,255),rgb(109,158,199));
    background-color: rgb(125,191,227);
    color: rgb(32,32,32);
    position:relative;
    z-index:1;

}

.BlahBtnSelected:hover{
    background-image: -moz-linear-gradient(rgb(141,204,255),rgb(109,158,199));
    background-image: -ms-linear-gradient(rgb(141,204,255),rgb(109,158,199));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(141,204,255)),color-stop(100%,rgb(109,158,199)));
    background-image: -webkit-linear-gradient(rgb(141,204,255),rgb(109,158,199));
    background-image: -o-linear-gradient(rgb(141,204,255),rgb(109,158,199));
    background-image: linear-gradient(rgb(141,204,255),rgb(109,158,199));
    background-color: rgb(125,191,227);
    color: rgb(32,32,32);

}

.Button-left {

    border-bottom-left-radius: 8px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(207,208,203);
}

.Button-right {
    border-bottom-right-radius: 8px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgb(207,208,203);
}


.blah-summary-bar {
    background-color: #cccccc;
    width: 90%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px auto;
    padding: 4px;
    margin-bottom: 5px;
}


.FullBlahProfileString {
    color:  rgb(32,32,32);
    padding-left:4px;
    font-size:12px;
    font-family: 'Arimo', sans-serif;
    text-align: left;
    float:left;
}

.FullBlahDateStr {
    color:  rgb(32,32,32);
    font-size:12px;
    font-family: 'Arimo', sans-serif;
    font-style: italic;
    padding-right:4px;
    text-align: right;
    white-space: nowrap;

}


.BlahRowVote {
    height:55px;
    width:100%;
}

/* classes for the full blah Summary page */

.FullBlahTableFooter {
    background-color: #cccccc;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    bottom: 0px;
    height: 55px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 3;
    width:100%;
}

.FullBlahTableFooter td {
    width:5%;
}

.footer-button {
    width:20%;
    text-align: center;
}

.blah-body-divider {
    width: 100%;
    background-color: rgb(124,124,124);
    height: 2px;

}

.BlahFullBody {
    font-size:20px;
    color: rgb(32,32,32);
    font-family: 'Arimo', sans-serif;
    width:100%;
    word-wrap: break-word;
    padding-left:16px;
    padding-right:16px;
    padding-top:12px;
}

.FullBlahContent {
    overflow-x: hidden;
    overflow-y: auto;
    border-spacing:0px;
    border:0px;
    margin-top:-2px;
}


.blah-preview-image {
    width:48px;
    height:48px;
    background-color:rgb(254,254,254);
    border-width:1px;
    border-style:solid;
    border-color:#999999;
    background-size: cover;
	float:right;
}


/* Comments */

.comment-detail-area {

    margin: 8px;

}

.comment-sort-area {
    color:rgb(244,245,240);
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    border-bottom: none;
    padding: 4px 0px;
    line-height: 3em;
}
.comment-sort-area input
{
   background-color:white;
}
.blah-sort-area input
{
   background-color:white;
}
.comment-sort-area td {
    min-width: 25px;
	padding-right:2px;
}

.comment-sort-area select {
    width:100%;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
}



.comment-text-area {
    color: rgb(32,32,32);
    background-color: rgb(254,254,254);
    min-height: 3em;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    padding: 4px;
    border:1px solid #999999;
    border-radius: 6px;
    width: 100%;
    overflow-y: auto;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    outline:none;

}

.comment-text-area:focus {
    border: solid 1px rgb(125, 181, 227);
    box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    -webkit-box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    -moz-box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    background-color: rgb(255,255,255);
}

.add-comment-btn {
    background-color: rgb(84,86,98);
    background-image: -moz-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -ms-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(105,108,123)),color-stop(100%,rgb(84,86,98)));
    background-image: -webkit-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -o-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: linear-gradient(rgb(105,108,123),rgb(84,86,98));
    border: 1px solid rgb(88,90,103);
    color: rgb(244,245,240);
    border-radius: 8px;
    float: right;
    margin-left: 8px;
    font-size:16px;
    font-family: 'Arimo', sans-serif;
    padding: 8px 16px;
    width: 200px;
}

#CharCountDiv {
    float:right;
    margin-top:8px;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
}

#CommentImage {
    float:left;
    box-shadow: none;
    border: none;
    background-color: rgb(244,245,240);
}


.comment-image-row {
    text-align: center;
}

.comment-image {
    max-width: 90%;
    border-radius: 8px;
    border: 1px solid lightgray;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,.2);
    margin-top:8px;
}


.add-comment-btn:hover {
    background-color: rgb(71,73,83);
    background-image: -moz-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -ms-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(84,86,98)),color-stop(100%,rgb(63,65,74)));
    background-image: -webkit-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -o-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: linear-gradient(rgb(84,86,98),rgb(63,65,74));
    color: rgb(244,245,240);
}


.add-comment-btn:disabled {
    color: #CCCCCC;
    background-color: #999999;
    background-image: none;
    border: solid 1px #999999;
}


.blah-comment-table {
    width:100%;
}

.no-comment-row {
    width: 100%;
}

.no-comment-row td {
    width: 100%;
    text-align: center;
}

.no-comment-row span{
    padding: 16px;
    border-radius: 8px;
    border-style: none;
    color: rgb(32,32,32);
    background-color: rgb(244,245,240);
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    display: block;
    margin-left: 16px;
    margin-right: 16px;
    font-style: italic;
}

.comment-item-table {
    width:100%;
    margin-bottom:8px;
    margin-top: 8px;
}

.comment-table-row {
    width:100%;
    border-bottom: 1px solid rgb(124, 124, 124);
}

.comment-user-image {
    width:48px;
    height:48px;
    display:inline-block;
    margin:4px;
}

.comment-user-name {
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color:blue;
    white-space: nowrap;
}


.comment-date {
    font-size: 12px;
    font-family: 'Arimo', sans-serif;
    font-style: italic;
    color: rgb(124,124,124);
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 8px;
}

.comment-body-row {
    padding-top: 4px;

}

.comment-body-row td {
    padding-right: 16px;
}


.comment-vote-div {
    margin-right:8px;
}

.image-preview.comment-preview {
    font-family: 'Arimo', sans-serif;
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    min-width: 64px;
    height: 64px;
    border: 1px solid #999999;
    background-color: rgb(254,254,254);
    margin:0 0 0 0;
}




.comment-text {
    color:  rgb(32,32,32);
    font-size: 12px;
    font-family: 'Arimo', sans-serif;
    word-break: break-word;
    word-wrap: break-word ;
    overflow-wrap: break-word;
}

.comment-user-description {
    font-size: 11px;
    font-family: 'Arimo', sans-serif;
    font-style: italic;
    color: rgb(124,124,124);
}

.comment-vote-wrapper {
    color:rgb(124,124,124);
    font-size: 12px;
    font-family: 'Arimo', sans-serif;
}

.no-vote {
    font-style: italic;
    font-size:12px;
}

.comment-vote {
    width: 12px;
    padding-right: 8px;
    padding-left: 12px;
}

.comment-container {
    width:100%;

}

.comment-container.scrolling {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width:100%;
}

.stats-container {
    overflow-x: hidden;
    overflow-y: auto;

}


.inline-button {
    background: rgb(0, 179, 18);
    color: rgb(255,255,255);
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    border-style: none;
    border-radius: 8px;
    padding: 4px 8px;
    margin-left:8px;
    margin-right:8px;
}

.inline-button:hover {
    background: rgb(0, 220, 22);
    color:  rgb(32,32,32);
}

.inline-button.blah-closer {
    background: rgb(125,181,227);
    color: rgb(32,32,32);
}

.inline-button.blah-closer:hover {
    background: rgba(0, 120,248, 0.52);
    color:  rgb(244,245,240)
}


.conversion-div {
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
    text-align: left;
    margin: 8px;
    background-color: rgb(250,250,247);
    border: 0px solid rgb(32,32,32);
    padding-left: 8px;
    border-radius: 8px;
;
}

.conversion-header {


}
.conversion-percent {

}


.conversion-desc {
    font-size: 18px;
    font-style: italic;
    color:#999999;
}

.more-comments-row a {
    color:rgb(0,120,248);
    text-decoration: underline;
    cursor: pointer;

}

.top-comments-header {
    text-align: center;
    font-family: 'Arimo' sans-serif;
    width: 100%;
    margin: 8px 0px;
    border-bottom: 1px rgb(124,124,124) solid;
    font-family: 'Arimo' sans-serif;
}

.top-comments-header div {
    background: rgb(124,124,124);
    width: 50%;
    margin-left: 25%;
    padding: 8px;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: rgb(244,245,240);
}

.ExtraInfoArea {
    padding: 8px 16px;
}

.image-label {

}

.image-delete-btn2 {
    color:red;;
    opacity:.5;
    position: absolute;
    left: 65px;
    top: 15px;
}

.image-delete-btn2:hover {
    opacity:1;
}