/* styles related to the blah roll */

.BlahTextDiv {

    font-family: 'Arimo', sans-serif;
    overflow:hidden;
    padding-left: 8px;
    padding-right: 8px;
    text-align:left;
    height:100%;
}


.BlahAltTextDiv {
    text-align:left;

}

.BlahExpandTextDiv {
    text-align:left;
}

.finished-sizing {
    position:absolute;
    bottom:0;
}


.SmallBlahFormat {
    font-size:18px;
}

.XSmallBlahFormat {

}

.MediumBlahFormat {
    font-size:48px;
}


.LargeBlahFormat {
   font-size:64px;
}

.users-own-blah {
    border-width:7px;
    border-top-style:dotted;
}

.BlahTypeSays {
    color: rgba(60,60,60,1);
    background-color: rgb(255,255,245);
    background-image: -moz-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -ms-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(255,255,245)),color-stop(100%,rgb(245,245,232)));
    background-image: -webkit-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -o-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: linear-gradient(rgb(255,255,245),rgb(245,245,232));
    border-color:rgba(61,125,171,1);
}

.BlahTypeAsks {
    color: rgba(60,60,60,1);
    background-color: rgb(255,255,245);
    background-image: -moz-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -ms-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(255,255,245)),color-stop(100%,rgb(245,245,232)));
    background-image: -webkit-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -o-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: linear-gradient(rgb(255,255,245),rgb(245,245,232));
    border-color:rgba(71,124,72,1)
}

.BlahTypeLeaks {
    color: rgba(60,60,60,1);
    background-color: rgb(255,255,245);
    background-image: -moz-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -ms-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(255,255,245)),color-stop(100%,rgb(245,245,232)));
    background-image: -webkit-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -o-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: linear-gradient(rgb(255,255,245),rgb(245,245,232));
    border-color:rgba(211,67,67,1)
}

.BlahTypePolls {
    color: rgba(60,60,60,1);
    background-color: rgb(255,255,245);
    background-image: -moz-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -ms-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(255,255,245)),color-stop(100%,rgb(245,245,232)));
    background-image: -webkit-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -o-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: linear-gradient(rgb(255,255,245),rgb(245,245,232));
    border-color:rgba(254,141,75,1)

}

.BlahTypePredicts {
    color: rgba(60,60,60,1);
    background-color: rgb(255,255,245);
    background-image: -moz-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -ms-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(255,255,245)),color-stop(100%,rgb(245,245,232)));
    background-image: -webkit-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: -o-linear-gradient(rgb(255,255,245),rgb(245,245,232));
    background-image: linear-gradient(rgb(255,255,245),rgb(245,245,232));
    border-color:rgba(72,57,80,1)

}

.BlahTypeAd {
    color: rgb(255,255,255);
    background-color:blue;
    border-color: blue;

}


.BlahTypeSaysImgText {
    color: rgba(60,60,60,1);
    background-color: rgba(255,255,245, .9);
    background-image: -moz-linear-gradient(rgba(255,255,245,.7),rgba(245,245,232,.7));
    background-image: -ms-linear-gradient(rgba(255,255,245,.7),rgba(245,245,232,.7));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,245,.7)),color-stop(100%,rgba(245,245,232,.7)));
    background-image: -webkit-linear-gradient(rgba(255,255,245,.7),rgba(245,245,232,.7));
    background-image: -o-linear-gradient(rgba(255,255,245,.7),rgba(245,245,232,.7));
    background-image: linear-gradient(rgba(255,255,245,.7),rgba(245,245,232,.7));
    border-color:rgba(61,125,171,1);
}


.BlahTypeAsksImgText {
    color: rgba(60,60,60,1);
    background-color: rgba(255,255,245, .7);

    border-color:rgba(71,124,72,1)
}


.BlahTypeLeaksImgText {
    color: rgba(60,60,60,1);
    background-color: rgba(255,255,245, .7);

    border-color:rgba(211,67,67,1)
}

.BlahTypePollsImgText {
    color: rgba(60,60,60,1);
    background-color: rgba(255,255,245, .7);

    border-color:rgba(254,141,75,1)
}

.BlahTypePredictsImgText {
    color: rgba(60,60,60,1);
    background-color: rgba(255,255,245, .7);
    border-color:rgba(72,57,80,1)
}

.BlahTypeAddImgText {
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,255,0.6);
}


.BlahImage {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    opacity:0.5;
    z-index:5;
}


.no-blahs-in-channel-warning {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    background-color: orange;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    margin-top: 65px;
    padding-bottom: 30px;
}

.no-blahs-in-channel-warning a {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    background-color: rgb(255,255,255);
    border-radius: 8px;
    margin: 8px;
    display: inline-block;
    padding: 8px;
    margin-top: 16px;
    margin-left: 100px;
}
