/* styles related to the blah roll */

.BlahTextDiv {
    background-color: transparent;
    font-family: 'Arimo', sans-serif;
    overflow-x:hidden;
    height:auto;
    width:auto;
    font-size:9px;
    padding: 4px;
    text-align: center;
}


.BlahAltTextDiv {
    font-size:9px;
    text-align:center;

}

.BlahExpandTextDiv {
    text-align:center;
    font-size:9px;
}


.SmallBlahFormat {

}

.XSmallBlahFormat {

}

.MediumBlahFormat {

}


.LargeBlahFormat {

}

.users-own-blah {
    border-size:4px;
    border-style:solid;
    border-color: yellow;
}

.BlahTypeSays {
    color: rgba(117,154,180,1);
    background-color: #fffff3;
    border-color: #00FF8C;
}

.BlahTypeLeaks {
    color: #FFA810;
    background-color: #FFFFBE;
    border-color: #ea3556;
}

.BlahTypePolls {
    color: #30B705;
    background-color: #ffffff;
    border-color: #61d2d6;

}

.BlahTypePredicts {
    color: #D3350E;
    background-color: #FFD5B0;
    border-color: #edde45;

}

.BlahTypeAd {
    color: white;
    background-color:blue;
    border-color: blue;

}

.BlahTypeAsks {
    color: rgba(102,102,102,1);
    background-color: #ADADAD;
    border-color: #00FF8C;
}


.BlahTypeAsksImgText {
    color: #ADADAD;
    background-color: rgba(102,102,102,0.8);
}


.BlahTypeSaysImgText {
    color: #fffff3;
    background-color: rgba(117,154,180,0.85);
}

.BlahTypeLeaksImgText {
    color: #FFFFBE;
    background-color: rgba(255,168,16,0.80);
}

.BlahTypePollsImgText {
    color: #ffffff;
    background-color: rgba(48,183,5,0.55);
}

.BlahTypePredictsImgText {
    color: #FFD5B0;
    background-color: rgba(211,53,14,0.55);
}

.BlahTypeAddImgText {
    color: white;
    background-color: rgba(0,0,255,0.6);
}


.BlahImage {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    opacity:0.5;
    z-index:5;
}


.no-blahs-in-channel-warning {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    background-color: orange;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    margin-top: 65px;
}

.no-blahs-in-channel-warning a {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    background-color: white;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
}
