/* styles for the preview and detail pages */

/* classes for the blah detail page */

.full-blah-div {
    top:0px;
    bottom:0px;
    position:absolute;
    width:100%;
}

.BlahFullImage {
    width:100%;
}


.BlahPageFooter {
   /* position:absolute;
    bottom:0px;
    width:70%;
    height:60px;
    border-collapse: collapse;
    background-color: #3f2b2f;
    left:50%;
    margin-left: -35%;*/

    background-color: #3F2B2F;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    bottom: 0px;
    height: 55px;
    z-index: 3;
    width:100%;
}

.BlahPageFooter tbody {
    vertical-align: top;
}

.author-image {
    width:56px;
    height:56px;
    background-color:rgb(244,245,240);
    background-size:cover;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color:rgb(32,32,32);*/
    margin: 2px;
    margin-right: 16px;
    margin-left: 5px;
}

.BlahFullHeader {
    border-spacing:0px;
    border-collapse: collapse;
    border:0px;
    top:0px;
    width:100%;
    background-color: #5FC0A5;
}

.show-blah-bkgnd {
    background-color: rgb(244,245,240);
}

.blah-headline-row {
    font-family: 'Gotham Rounded', 'HelveticaNeue-CondensedBold', 'Helvetica Neue',sans-serif;
    /*border-top-left-radius: 8px;*/
    /*border-top-right-radius: 8px;*/
    background-color: #5FC0A5;
}

.blah-page {
    background-color: rgb(244,245,240);
    /*border-bottom-left-radius: 8px;*/
    /*border-bottom-right-radius: 8px;*/
    position: absolute;
    width: 100%;
    bottom: 60px;
    top: 160px;
    box-shadow: 0px 5px 5px rgba(0,0,0,.3);
    z-index: 2;
}

.blah-page.short {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
}


.fullBlahgerName {
    font-size:30px;
    line-height: 40px;
    font-weight: bold;
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    color:rgb(244,245,240);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.fullBlahSpeechAct {
    font-size:20px;
    line-height: 28px;
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    color:#fff;
}

.CloseButton {
    width:32px;
    height:32px;
    border:none;
    background-color: rgb(255,255,255);
    color:rgb(248,120,88);
    font-size:18px;
    /*border-radius: 6px;*/
    margin:8px;
}

.CloseButton:hover {
    background-color: red;
    color:rgb(255,255,255);

}

.BlahFullHeadline {
    font-size: 24px;
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    width: 100%;
    text-align: left;
    margin: 16px 16px 16px 16px;
    padding: 12px 12px;
    word-wrap: break-word;
}

.BlahButton span {

}
.BlahButton {
    font-family: 'Gotham Rounded', 'HelveticaNeue-CondensedBold', 'Helvetica Neue',sans-serif;
    width:100%;
    height:40px;
    border:none;
    background-color: transparent;
    color: #fff;
    font-size:18px;
}

.BlahButton:hover {
    /*background-color: #54d68a;*/
    color: #fff;

}

.BlahBtnSelected {
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    /*background-color: #1FBBD1;*/
    color: #fff;
    position:relative;
    z-index:1;

}
.BlahBtnSelected:hover{
    /*background-color: #E54054;*/
    color: #fff;

}
.BlahBtnSelected.footer-summary-btn:active {
    background-image: url('../img/summary.png');
}
.BlahBtnSelected.footer-summary-btn {
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    /*background-color: #1FBBD1;*/
    color: #fff;
    position:relative;
    z-index:1;
    background-image: url('../img/summary_checked.png');

}
.BlahBtnSelected.footer-summary-btn:hover {
    background-image: url('../img/summary.png');
}

.BlahBtnSelected.footer-comments-btn {
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    /*background-color: #1FBBD1;*/
    color: #fff;
    position:relative;
    z-index:1;
    background-image: url('../img/comments_checked.png');

}
.BlahBtnSelected.footer-comments-btn:hover {
    background-image: url('../img/comments.png');
}

.BlahBtnSelected.footer-stats-btn {
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    /*background-color: #1FBBD1;*/
    color: #fff;
    position:relative;
    z-index:1;
    background-image: url('../img/stats_checked.png');
    margin-right: 5%;

}
.BlahBtnSelected.footer-stats-btn:hover {
    background-image: url('../img/stats.png');
}
#SelfProfileBtn.BlahButton.Button-left {
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    /*background-color: #1FBBD1;*/
    width: 36px;
    height: 36px;
    margin-top: 15px;
    margin-left: 30%;
    color: #fff;
    position:relative;
    z-index:1;
    background-image: url('../img/profile-2.png');

}
#SelfProfileBtn.BlahButton.Button-left:hover {
    background-image: url('../img/profile-1.png');
    }
#SelfHistoryBtn.BlahButton {
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    /*background-color: #1FBBD1;*/
    width: 36px;
    height: 36px;
    margin-top: 15px;
    margin-left: 30%; 
    color: #fff;
    position:relative;
    z-index:1;
    background-image: url('../img/summary_checked.png');
}
#SelfHistoryBtn.BlahButton:hover {
    background-image: url('../img/summary.png');
    }
#SelfStatsBtn.BlahButton.Button-right {
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    /*background-color: #1FBBD1;*/
    width: 36px;
    height: 36px;
    margin-top: 15px;
    margin-left: 30%;
    color: #fff;
    position:relative;
    z-index:1;
    background-image: url('../img/stats_checked.png');
}
#SelfStatsBtn.BlahButton.Button-right:hover {
    background-image: url('../img/stats.png');
    }
.Button-left {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #3F2B2F;
}

.Button-right {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #3F2B2F;
}


.blah-summary-bar {
    background-color: #f3f3f3;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ececec;
}

.lower-blah-header-bar {
    /*box-shadow: 0px 2px 8px rgba(0,0,0,0.2);*/
}


.FullBlahProfileString {
    color:  rgb(32,32,32);
    padding-left:4px;
    font-size:12px;
    line-height: 18px;
    font-family: 'Gotham Rounded', sans-serif;
    text-align: left;
    float:left;
}

.FullBlahDateStr {
    color:  rgb(32,32,32);
    font-size:12px;
    font-family: 'Gotham Rounded', sans-serif;
    font-style: italic;
    padding-right:4px;
    text-align: right;
    white-space: nowrap;

}

.no-item-div {
    border-bottom: 1px solid #999999;
    margin: 8px;
}


/* classes for the full blah Summary page */

.FullBlahTableFooter {
    background-color: #3F2B2F;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    bottom: 0px;
    height: 55px;
    z-index: 3;
    width:100%;
}

.FullBlahTableFooter td {
    width:0;
}

.footer-button {
    width:35%;
    text-align: center;
}

.blah-body-divider {
    width: 100%;
    background-color: rgb(124,124,124);
    height: 2px;

}

.BlahFullBody {
    font-size:14px;
    color: rgb(32,32,32);
    font-family: 'Gotham Rounded','HelveticaNeue-Light','HelveticaNeue', sans-serif;
    width:100%;
    word-wrap: break-word;
    padding-left:16px;
    padding-right:16px;
    padding-top:12px;
    word-break:break-all;
    word-break: break-word;
}

.FullBlahContent {
    overflow-x: hidden;
    overflow-y: auto;
    border-spacing:0px;
    border:0px;
    margin-top:-2px;
}

.FullBlahContent.ahort {
    overflow-x: visible;
    overflow-y: visible;
}


.blah-preview-image {
    width:48px;
    height:48px;
    background-color:rgb(254,254,254);
    border-width:1px;
    border-style:solid;
    border-color:#999999;
    background-size: cover;
	float:right;
}


/* Comments */

.comment-detail-area {
    margin: 8px;
    position: relative;
    top: 0px;
    left: 0px;
}

.comment-sort-area {

    line-height: 3em;
}


.blah-sort-area {

    line-height: 3em;
}


.demo-breakdown-div {
    margin: 16px 0px;
    padding: 12px;
    font-size: 18px;
    font-style: italic;
}

.comment-text-area {
    color: rgb(32,32,32);
    background-color: rgb(254,254,254);
    font-size: 14px;
    font-family: 'Gotham Rounded', sans-serif;
    padding: 4px;
    border:1px solid #999999;
    /*border-radius: 6px;*/
    width: 100%;
    overflow-y: auto;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    outline:none;
    height: 56px;
    margin-top: -4px;

}

.comment-text-area:focus {
    border: solid 1px rgb(125, 181, 227);
    box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    -webkit-box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    -moz-box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    background-color: rgb(255,255,255);
}

.add-comment-btn {
    background-color: #3F2B2F;
    color: #fff;
    /*border-radius: 8px;*/
    float: right;
    margin-left: 8px;
    margin-right: 6px;
    font-size:16px;
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    padding: 8px 16px;
    border:0;
    cursor: pointer;
}

#CharCountDiv {
    float:right;
    margin-top:8px;
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}


.comment-image-row {
    text-align: center;
}

.comment-image {
    /*border-radius: 8px;*/
    border: 1px solid lightgray;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,.2);
    margin-top:8px;
}


.add-comment-btn:hover {
    background-color: #1FBBD1;
    color: #fff;
}


.add-comment-btn:disabled {
    color: #fff;
    background-color: #7fb596;
    background-image: none;
    border: solid 1px transparent;
}


.blah-comment-table {
    width:100%;
}

.no-comment-row {
    width: 100%;
}

.no-comment-row td {
    width: 100%;
    text-align: center;
}

.no-comment-row span{
    padding: 16px;
    /*border-radius: 8px;*/
    border-style: none;
    color: rgb(32,32,32);
    background-color: rgb(244,245,240);
    font-size: 16px;
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    display: block;
    margin-left: 16px;
    margin-right: 16px;
}

.comment-item-table {
    width:100%;
    margin-bottom:8px;
    margin-top: 8px;
}

.comment-table-row {
    width:100%;
    border-bottom: 1px solid rgb(124, 124, 124);
}

.comment-user-image {
    width:48px;
    height:48px;
    margin: 0px 8px;

}

.comment-user-name {
    font-size: 14px;
    font-family: 'Gotham Rounded', 'HelveticaNeue-CondensedBold', 'Helvetica Neue',sans-serif;
    color:#1FBBD1;
    white-space: nowrap;
    cursor: pointer;
}


.comment-date {
    font-size: 12px;
    font-family: 'Gotham Rounded', sans-serif;
    font-style: italic;
    color: rgb(124,124,124);
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 8px;
}

.comment-reply-row {

}

.comment-body-row {
    padding-top: 4px;
    padding-right:12px;
    word-break:break-all;
    word-break:break-word;
}

.reply-btn {
    float: right;
    margin: 0px 8px;
    border: none;
    font-family: 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    color: #5FC0A5;
    background-color: transparent;
}

.reply-btn.disabled {
    color: gray;
}

.nested-row {
    border-left: 16px solid rgb(244,245,240);
    margin: 0px 8px;
    border-top: 1px solid #AAAAAA;
}

.embedded-comment-div {
    width:100%;
}

.comment-body-row td {
    padding-right: 16px;
}


.comment-vote-div {
    margin-right:12px;
}

.image-preview.comment-preview {
    font-family: 'Gotham Rounded', sans-serif;
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    min-width: 64px;
    height: 64px;
    border: 1px solid #999999;
    background-color: rgb(254,254,254);
    margin:0 0 0 0;
}

.reply-note-row {
    text-align: right;
    color: #202020;
    padding-right: 16px;
    font-family: 'Gotham Rounded' sans-serif;
    font-size: 14px;
}

.reply-note-row span {
    font-style:italic;
}

.reply-note-row .parentQuote {
    font-style: normal;
}

.comment-text {
    color:  rgb(32,32,32);
    font-size: 12px;
    font-family: 'Gotham Rounded', sans-serif;
    word-break:break-all;
    word-break: break-word;
    word-wrap: break-word ;
    overflow-wrap: break-word;
}


.comment-badge-info-row {
    margin-top: 3px;
}

.comment-badge-text {
    position: relative;
    bottom:2px;
    margin-left: 4px;
}

.comment-user-description {
    display: none;
    font-size: 11px;
    font-family: 'Gotham Rounded', sans-serif;
    font-style: italic;
    color: rgb(124,124,124);
}

.comment-badges {
    font-size: 11px;
    font-family: 'Gotham Rounded', sans-serif;
    font-style: italic;
    color: rgb(124,124,124);
}

.comment-vote-wrapper {
    color:rgb(124,124,124);
    font-size: 12px;
    font-family: 'Gotham Rounded', sans-serif;
}

.comment-badge-image {
    width: 16px;
    height: 16px;
    right: 12px;
    bottom: 8px;
    position: absolute;
    display: block;
    border: 1px solid gray;
}

.comment-user-image-holder {
    width: 68px;
    height: 56px;
    position: relative;
}

.no-vote {
    font-style: italic;
    font-size:12px;
}

.comment-vote {
    width: 12px;
    padding-right: 8px;
    padding-left: 12px;
}

.comment-container {
    width:100%;
}

.signin-comment-shield {
    width: 100%;
    height: 100%;
    left: 0px;
    top: -1px;
    position: absolute;
    background-color: rgba(244,245,240,.6);
    text-align: center;
}


.short-scroll-div {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 40px;
    bottom: 42px;
    /*border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;*/
    background-color: rgb(244,245,240);
    box-shadow: 0px 5px 5px rgba(0,0,0,.3);
    z-index: 3;
    padding-bottom: 12px;
    width:100%;
}


.stats-container {
    overflow-x: hidden;
    overflow-y: auto;

}


.inline-button {
    background: rgb(0, 179, 18);
    color: rgb(255,255,255);
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 18px;
    border-style: none;
    /*border-radius: 8px;*/
    padding: 4px 8px;
    margin-left:8px;
    margin-right:8px;
}

.inline-button:hover {
    background: rgb(0, 220, 22);
    color:  rgb(32,32,32);
}

.inline-button.blah-closer {
    background: rgb(125,181,227);
    color: rgb(32,32,32);
}

.inline-button.blah-closer:hover {
    background: rgba(0, 120,248, 0.52);
    color:  rgb(244,245,240)
}


.conversion-div {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 24px;
    text-align: left;
    margin: 8px;
    background-color: rgb(250,250,247);
    border: 0px solid rgb(32,32,32);
    padding-left: 8px;
    /*border-radius: 8px;*/
}

.conversion-header {


}
.conversion-percent {

}


.conversion-desc {
    font-size: 18px;
    font-style: italic;
    color:#999999;
}

.more-comments-row a {
    font-family: 'Gotham Rounded', sans-serif;
    color:rgb(0,120,248);
    text-decoration: underline;
    cursor: pointer;

}

.top-comments-header {
    text-align: left;
    font-family: 'Gotham Rounded', sans-serif;
    border-bottom: 1px rgb(124,124,124) solid;
 }

.top-comments-header div {
    padding:8px 0px 4px 8px;
    font-weight: bold;
    color: rgb(32,32,32);
    font-family: 'Gotham Rounded', sans-serif;
}

.ExtraInfoArea {
    padding: 8px 16px;
}

.image-label {

}

.image-delete-btn2 {
    color:red;
    opacity: 0.5;
    position: absolute;
    left: 65px;
    top: 15px;
}

.image-delete-btn2:hover {
    opacity:1;
}