/* styles for the preview and detail pages */

/* classes for the blah detail page */

.full-blah-div {
    top:0px;
    bottom:0px;
    position:absolute;
    width:100%;
}

.BlahFullImage {
    width:100%;
}


.BlahPageFooter {
    position:absolute;
    bottom:0px;
    width:100%;
    height:60px;
    border-collapse: collapse;
    background-color: transparent;
}

.BlahPageFooter tbody {
    vertical-align: top;
}

.author-image {
    width:56px;
    height:56px;
    background-color:white;
    background-size:cover;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    margin: 2px;
}

.BlahButton {
    width:100%;
    height:40px;
    border:none;
    background-color: #999999;
    color:black;
    font-size:18px;
}

.BlahFullHeader {
    border-spacing:0px;
    border-collapse: collapse;
    border:0px;
    top:0px;
    width:100%;
    background-color: transparent;
}

.show-blah-bkgnd {
    background-color: rgb(245,245,240);
}

.blah-headline-row {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blah-page {
    background-color: rgb(245,245,240);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    width: 100%;
    bottom: 60px;
    top: 160px;
    box-shadow: 0px 5px 5px rgba(0,0,0,.3);
    z-index: 2;
}


.fullBlahgerName {
    font-size:30px;
    font-weight: bold;
    font-family: 'Arimo', sans-serif;
    color:white;

}

.fullBlahSpeechAct {
    font-size:26px;
    font-family: 'Arimo', sans-serif;
    color:#999999;
}

.CloseButton {
    width:32px;
    height:32px;
    border:none;
    background-color: white;
    color:red;
    font-size:18px;
    border-radius: 6px;
    margin:8px;
}

.CloseButton:hover {
    background-color: red;
    color:white;

}

.BlahFullHeadline {
    font-size:36px;
    font-family: 'Arimo', sans-serif;
    width:100%;
    text-align:center;
    font-weight:bold;
    margin:16px 16px 16px 16px;
    padding:10px 10px;
    word-wrap: break-word;
}



.BlahButton span {

}

.BlahButton:hover {
    background-color: #BBBBBB;

}

.BlahBtnSelected {
    background-color: #E1644E;
    color:white;
    box-shadow: 0 0 8px 8px rgba(255, 128, 0, .5);
    border: 1px solid rgb(255,128,0);
    position:relative;
    z-index:1;

}

.BlahBtnSelected:hover{
    background-color: #7a362a;
    box-shadow: 0 0 8px 8px rgba(152, 76, 0, 0.49);
    border: none;

}

.Button-left {

    border-bottom-left-radius: 8px;
}

.Button-right {
    border-bottom-right-radius: 8px;
}


.blah-summary-bar {
    background-color: rgba(0,0,0,.1);
    width: 90%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: -1px auto;
    padding: 4px;
    margin-bottom: 5px;
}


.FullBlahProfileString {
    padding-left:4px;
    font-size:12px;
    font-family: 'Arimo', sans-serif;
    text-align: left;
    float:left;
}

.FullBlahDateStr {
    font-size:12px;
    font-family: 'Arimo', sans-serif;
    font-style: italic;
    padding-right:4px;
    text-align: right;
    float:right;

}

.fullBlahgerName1 {

    font-size:12px;
    font-family: 'Arimo', sans-serif;
}

.BlahRowVote {
    height:55px;
    width:100%;
}

/* classes for the full blah Summary page */

.FullBlahTableFooter {
    background-color: #d3d3d3;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    bottom: 0px;
    height: 55px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 3;
    width:100%;
}

.FullBlahTableFooter td {
    width:5%;
}

.footer-button {
    width:20%;
    text-align: center;
}

.blah-body-divider {
    width: 100%;
    background-color: #4A4A4A;
    height: 2px;

}

.BlahFullBody {
    font-size:20px;
    color: #666666;
    font-family: 'Arimo', sans-serif;
    width:100%;
    word-wrap: break-word;
    padding-left:16px;
    padding-right:16px;
    padding-top:4px;
}

.FullBlahContent {
    overflow-x: hidden;
    overflow-y: auto;
    border-spacing:0px;
    border:0px;
    margin-top:-2px;
}


.blah-preview-image {
    width:48px;
    height:48px;
    background-color:white;
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    background-size: cover;
}


/* Comments */

.comment-detail-area {


}

.comment-sort-area {
    border-bottom: none;
}


.comment-sort-area td {
    min-width: 25px;
}

.comment-sort-area select {
    width:100%;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
}


.comment-text-area {
    background-color: #EEEEEE;
    border-radius: 8px;
    min-height: 40px;
    width:100%;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    box-shadow: inset 5px 5px 4px rgba(0,0,0,0.2);
    overflow-y: hidden;
}

.add-comment-btn {
    background-color: rgb(0, 179, 18);;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    border-style: none;
    margin: 4px;
    padding: 4px 12px;
}


.add-comment-btn:hover {
    background: rgb(0, 220, 22);
    color:  black;
}


.add-comment-btn:disabled {
    background-color: #aeabad;
    color: #606060;
}


.blah-comment-table {
    width:100%;
}

.no-comment-row {
    width: 100%;
}

.no-comment-row td {
    width: 100%;
    text-align: center;
}

.no-comment-row span{
    padding: 16px;
    border-radius: 8px;
    border-style: none;
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    display: block;
    margin-left: 16px;
    margin-right: 16px;
    font-style: italic;
}

.comment-item-table {
    width:100%;
    border-bottom-style:solid;
    border-bottom-width: 1px;
    margin-bottom:8px;
    border-bottom-color: rgb(80,80,80);
    padding-bottom: 8px;
}
.comment-table-row {
    width:100%;
}
.comment-user-image {
    width:48px;
    height:48px;
    display:inline-block;
    margin:4px;
}

.comment-user-name {
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color:black;
}


.comment-date {
    font-size: 12px;
    font-family: 'Arimo', sans-serif;
    font-style: italic;
    color: #A0A0A0;
    float:right;
    padding-right: 8px;
}

.comment-body-row {
    width:100%;
    padding-right:8px;
}

.comment-text {
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color: #404040;
    word-break: break-word;
    word-wrap: break-word ;
    overflow-wrap: break-word;
}

.comment-user-description {
    font-size: 12px;
    font-family: 'Arimo', sans-serif;
    font-style: italic;
    color: #A0A0A0;
}

.comment-vote-wrapper {
    color:#404040;
    font-size: 12px;
    font-family: 'Arimo', sans-serif;
}

.no-vote {
    font-style: italic;
    font-size:12px;
}

.comment-vote {
    width: 12px;
    padding-right: 8px;
    padding-left: 12px;
}

.comment-container {
    width:100%;

}

.comment-container.scrolling {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width:100%;
}

.stats-container {
    overflow-x: hidden;
    overflow-y: auto;

}


.inline-button {
    background: rgb(0, 179, 18);
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    border-style: none;
    border-radius: 8px;
    padding: 4px 8px;
    margin-left:8px;
    margin-right:8px;
}

.inline-button:hover {
    background: rgb(0, 220, 22);
    color:  black;
}

.inline-button.blah-closer {
    background: rgb(0, 184, 244);
    color: #ffffff;
}

.inline-button.blah-closer:hover {
    background: rgba(0, 194, 255, 0.52);
    color:  black;
}


.conversion-div {
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 8px;
    background-color: white;
    border: 0px solid black;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.3);
}

.conversion-header {
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
}
.conversion-percent {
    font-family: 'Arimo', sans-serif;
    font-size: 48px;
}


.conversion-desc {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    font-style: italic;
}

.more-comments-row a {
    color:blue;
    text-decoration: underline;
    cursor: pointer;

}

.top-comments-header {
    text-align: center;
    font-family: 'Arimo' sans-serif;
    width: 100%;
    margin: 8px 0px;
    border-bottom: 1px rgb(0, 144, 255) solid;

}

.top-comments-header div {
    background: rgb(0, 144,255);
    width: 50%;
    margin-left: 25%;
    padding: 8px;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
}

.ExtraInfoArea {
    padding: 8px 16px;
}