/* styles for the channel bar */

.ChannelBanner {
    position: absolute;
    width:100%;
    top: 8px;
    height:48px;
    z-index:10;
    background-color:white;
    color:rgb(245,245,240);
    font-family: 'Arimo', sans-serif;
    font-size:26px;
    font-weight:bold;
    font-stretch:condensed;
    box-shadow: rgba(0,0,0,.4) 0px 5px 8px;
    line-height:2em;
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/channel_bkgnd.jpg");
}

.ChannelNameText {
    margin-left:8px;
    text-shadow: 1px 1px rgba(0,0,0,.4);
}

.ChannelViewersImg {
    position:relative;
    top:4px;
}
.ChannelViewersCountText {

}


.ChannelViewersSpan {

}



.ChannelOptions {
    width:48px;
    height:48px;
    border-left-color:rgba(32,32,32,.4);
    border-left-width:1px;
    border-left-style:solid;
    color:rgb(245,245,240);
    background-color: rgb(122,208,0);
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
    float:right;
}

.profile-button {
    width:48px;
    height:48px;
    background-size: cover;
    float:right;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/images/unknown-user.png");
}

.sign-in-button {
    background: rgb(179, 95, 5);
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    border-style: none;
    float: right;
    width: 80px;
    height: 48px;
}

.sign-in-button:hover {
    background: rgb(255, 136, 6);
    color:  black;
}

.sign-in-button signed-in {
    background: rgb(0, 141, 0);
    color: white;
}


.sign-in-button signed-in:hover {
    background: rgb(0, 236, 0);
    color:  rgb(0, 141, 0);
}




.ChannelDropMenu {
    position: absolute;
    padding:16px 0px 16px 0px;
    left:8px;
    top:56px;
    width:90%;
    height:auto;
    background-color: white;
    box-shadow:rgba(0,0,0,.4) 4px 4px;
    z-index: 12;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.channel-image {
    width:64px;
    height:64px;
    margin-right:8px;
    margin-top:4px
}

.channel-image-td {
    vertical-align: top;
}

.channel-title {
    font-family: 'Arimo', sans-serif;
    font-size:36px;
    width:100%;
}

.channel-description {
    font-family: 'Arimo', sans-serif;
    font-size:18px;
    width:100%;
    line-height:18px;
}

.channel-info-table:hover {

    background-color: white;

}


.channel-info-table:hover {

    background-color: #add8e6;

}




.profile-close-btn {
    float: right;

}

.signin-message {
    font-size:18px;
    background-color: orange;
    color:black;
    margin: 4px;
    padding: 8px;
    width:80%;
    border-radius: 8px;
}

.ChannelBrowser {
    width:100%;
    height: 100%;
    overflow-y: scroll;
}

.channelBrowserGroupItem {
    font-size:36px;
    background-color: #add8e6;
    color:black;
    margin: 4px;
    padding: 8px;
    width:100%;
    border-radius: 8px;

}


.ChannelBrowser ul  {
    list-style-type: none;
    padding-left: 8px;
    margin-left: 0;
    background-color:transparent;
}
.channelBrowserGroupItem {
    font-size:36px;
    width:100%;
    background-color:transparent;
    color:black;
}

.channelBrowserGroupItem:hover
{
    background-color: #369;
    color: #FFF;
}


.channelBrowserChannelItem {
    font-size:24px;
    width:100%;
    background-color:transparent;
    color:#a9a9a9;
}

.channelBrowserChannelItem:hover
{
    background-color: #369;
    color: #a9a9a9;
}



.channel-menu-title {
    background-color:rgba(255,255,255,0.8);
    color: black;
    font-family: 'Arimo', sans-serif;
    font-size:36px;

}

@media all and (max-width: 400px)  {
	.ChannelBanner
	{
	  height: 38px;
	  font-size: 16px;
	  line-height: 3em;
	}
	.sign-in-button
	{
	   font-size: 12px;
       height: 38px;
	   
	}

    .ChannelOptions
    {
        width:38px;
        height:38px;
        vertical-align: top;
    }

    .profile-button
    {
        width:38px;
        height:38px;
    }
}

