/* styles for the channel bar */

.ChannelBanner {
    position: absolute;
    width:100%;
    top: 8px;
    height:48px;
    z-index:10;
    background-color:white;
    color:rgb(244,245,240);
    font-family: 'Arimo', sans-serif;
    font-size:26px;
    font-weight:bold;
    font-stretch:condensed;
    box-shadow: rgba(0,0,0,.4) 0px 5px 8px;
    line-height:2em;
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/channel_bkgnd.jpg");
}

.ChannelNameText {
    margin-left:8px;
    text-shadow: 1px 1px rgba(0,0,0,.4);
}

.channel-dropdown {
    margin-left:8px;
    text-shadow: 1px 1px rgba(0,0,0,.4);
}

.ChannelViewersImg {
    position:relative;
    top:4px;
}
.ChannelViewersCountText {

}


.ChannelViewersSpan {

}



.ChannelOptions {
    width:48px;
    height:48px;
    border-left-color:rgba(32,32,32,.4);
    border-left-width:1px;
    border-left-style:solid;
    background: #555555;
    color: #f4f5f0;
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
    float:right;
}

.ChannelOptions:hover {
    background: #444444;
    color: #f4f5f0;
}

.profile-button {
    width:48px;
    height:48px;
    background-size: cover;
    float:right;
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/images/unknown-user.png");
}

.sign-in-button {
    background: #444444;
    color: #f4f5f0;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    border-style: none;
    float: right;
    width: 80px;
    height: 48px;
}

.sign-in-button:hover {
    background: #333333;
    color:  #f4f5f0;
}

.sign-in-button signed-in {
    background: rgb(0, 141, 0);
    color: white;
}


.sign-in-button signed-in:hover {
    background: rgb(0, 236, 0);
    color:  rgb(0, 141, 0);
}




.ChannelDropMenu {
    position: absolute;
    left:8px;
    top:56px;
    width:auto;
    height:auto;
    background-color: white;
    box-shadow:rgba(0,0,0,.4) 4px 4px;
    z-index: 12;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	overflow: hidden;
}


.channel-image {
    width:64px;
    height:64px;
    margin:8px;
}

.channel-image-td {
    vertical-align: top;
}

.channel-title {
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
}

.channel-description {
    font-family: 'Arimo', sans-serif;
    font-size:14px;
    width:100%;
    line-height:18px;
    padding-right:12px;
}



.profile-close-btn {
    float: right;

}

.signin-message {
    font-size:18px;
    background-color: orange;
    color:black;
    margin: 4px;
    padding: 8px;
    width:80%;
    border-radius: 8px;
}



.channel-menu-title {
    background-color: #A0A0A0;
    color: rgb(0, 0, 0);
    font-family: 'Arimo', sans-serif;
    font-size: 22px;
    padding: 2px 16px;
    text-align:center;
}

.instant-menu {
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px rgba(0,0,0,.3);
    font-family: 'Arimo' sans-serif;
    font-size: 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.instant-menu li {
    padding:4px 12px;
}
.instant-menu li:hover {
    background-color: rgb(125,181,227);
}

#ChannelList>tbody>tr:hover {
    background-color: rgb(125,181,227);
}

#ChannelList tbody td {
    padding:4px 12px;
}





@media all and (max-width: 400px)  {
	.ChannelBanner
	{
	  height: 38px;
	  font-size: 22px;
	  line-height: 2.0em;
	}
	.sign-in-button
	{
	   font-size: 16px;
       height: 38px;
	  
	  
	   
	}

    .ChannelOptions
    {
        width:38px;
        height:38px;
        vertical-align: top;
    }

    .profile-button
    {
        width:38px;
        height:38px;
    }
}

