/* styles for the channel bar */

.ChannelBanner {
    position: absolute;
    width:100%;
    top: 8px;
    height:48px;
    z-index:10;
    background-color:rgb(255,255,255);
    color:rgb(244,245,240);
    font-family: 'Arimo', sans-serif;
    font-size:26px;
    font-weight:bold;
    font-stretch:condensed;
    box-shadow: rgba(0,0,0,.4) 0px 5px 8px;
    line-height:2em;
    background-image: linear-gradient(rgb(125,191,227)55%,rgb(122,208,0));
    background-image: -moz-linear-gradient(rgb((125,191,227),rgb(122,208,0));
    background-image: -ms-linear-gradient(rgb((125,191,227),rgb(122,208,0));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb((125,191,227)),color-stop(100%,rgb(122,208,0)));
    background-image: -webkit-linear-gradient(rgb((125,191,227),rgb(122,208,0));
    background-image: -o-linear-gradient(rgb((125,191,227),rgb(122,208,0));
}

.ChannelNameText {
    margin-left:8px;
    text-shadow: 1px 1px rgba(0,0,0,.4);
}

.channel-dropdown {
    margin-left:8px;
    text-shadow: 1px 1px rgba(0,0,0,.4);
}

.ChannelViewersImg {
    position:relative;
    top:4px;
}
.ChannelViewersCountText {

}


.ChannelViewersSpan {

}



.ChannelOptions {
    width:48px;
    height:48px;
    border-left-color:rgba(131,135,154,.4);
    border-left-width:1px;
    border-left-style:solid;
    border-right-color:rgba(131,135,154,.4);
    border-right-width:1px;
    border-right-style:solid;
    background-color: rgb(84,86,98);
    background-image: -moz-linear-gradient(rgb(164,169,193),rgb(131,135,154));
    background-image: -ms-linear-gradient(rgb(164,169,193),rgb(131,135,154));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(164,169,193)),color-stop(100%,rgb(131,135,154)));
    background-image: -webkit-linear-gradient(rgb(164,169,193),rgb(131,135,154));
    background-image: -o-linear-gradient(rgb(164,169,193),rgb(131,135,154));
    background-image: linear-gradient(rgb(164,169,193),rgb(131,135,154));
    color: rgb(244,245,240);
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
    float:right;
}

.ChannelOptions:hover {
    background-color: rgb(71,73,83);
    background-image: -moz-linear-gradient(rgb(131,135,154),rgb(105,108,123));
    background-image: -ms-linear-gradient(rgb(131,135,154),rgb(105,108,123));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(131,135,154)),color-stop(100%,rgb(105,108,123)));
    background-image: -webkit-linear-gradient(rgb(131,135,154),rgb(105,108,123));
    background-image: -o-linear-gradient(rgb(131,135,154),rgb(105,108,123));
    background-image: linear-gradient(rgb(131,135,154),rgb(105,108,123));
    color: rgb(244,245,240);
}

.profile-button {
    width:48px;
    height:48px;
    background-size: cover;
    float:right;
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/images/unknown-user.png");
}

.profile-button:hover {
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=8);
}

.sign-in-button {
    background-color: rgb(84,86,98);
    background-image: -moz-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -ms-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(105,108,123)),color-stop(100%,rgb(84,86,98)));
    background-image: -webkit-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -o-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: linear-gradient(rgb(105,108,123),rgb(84,86,98));
    border: 1px solid rgb(88,90,103);
    color: rgb(244,245,240);
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    float: right;
    width: 80px;
    height: 48px;
}
.sign-in-comment-button
{
    background-color: rgb(84,86,98);
    background-image: -moz-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -ms-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(105,108,123)),color-stop(100%,rgb(84,86,98)));
    background-image: -webkit-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -o-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: linear-gradient(rgb(105,108,123),rgb(84,86,98));
    border: 1px solid rgb(88,90,103);
    color: rgb(244,245,240);
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    border-style: none;
    float: right;
    /*width: 80px;*/
    height: 48px;
}

.sign-in-comment-button:hover {
    background-color: rgb(71,73,83);
    background-image: -moz-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -ms-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(84,86,98)),color-stop(100%,rgb(63,65,74)));
    background-image: -webkit-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -o-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: linear-gradient(rgb(84,86,98),rgb(63,65,74));
    color:  rgb(244,245,240);
}

.sign-in-button:hover {
    background-color: rgb(71,73,83);
    background-image: -moz-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -ms-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(84,86,98)),color-stop(100%,rgb(63,65,74)));
    background-image: -webkit-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -o-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: linear-gradient(rgb(84,86,98),rgb(63,65,74));
    color:  rgb(244,245,240);
}

.sign-in-button signed-in {
    background: rgb(0, 141, 0);
    color: rgb(255,255,255);
}


.sign-in-button signed-in:hover {
    background: rgb(0, 236, 0);
    color:  rgb(0, 141, 0);
}




.ChannelDropMenu {
    position: absolute;
    left:8px;
    top:56px;
    width:auto;
    height:auto;
    background-color: rgb(244,245,240);
    box-shadow:rgba(0,0,0,.4) 4px 4px;
    z-index: 12;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	overflow: hidden;
}


.channel-image {
    width:64px;
    height:64px;
    margin:8px;
}

.channel-image-td {
    vertical-align: top;
}

.channel-title {
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
}

.channel-description {
    font-family: 'Arimo', sans-serif;
    font-size:14px;
    width:100%;
    line-height:18px;
    padding-right:12px;
}



.profile-close-btn {
    float: right;

}

.signin-message {
    font-size:18px;
    background-color: orange;
    color:rgb(32,32,32);
    margin: 4px;
    padding: 8px;
    width:80%;
    border-radius: 8px;
}



.channel-menu-title {
    background-color: #A0A0A0;
    color: rgb(0, 0, 0);
    font-family: 'Arimo', sans-serif;
    font-size: 22px;
    padding: 2px 16px;
    text-align:center;
}

.instant-menu {
    position: absolute;
    background-color: rgb(244,245,240);
    box-shadow: 5px 5px rgba(0,0,0,.3);
    font-family: 'Arimo' sans-serif;
    font-size: 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.instant-menu li {
    padding:4px 12px;
}
.instant-menu li:hover {
    background-color: rgba(125,181,227,.4);
}

#ChannelList>tbody>tr:hover {
    background-color: rgba(125,181,227,.4);
}

#ChannelList tbody td {
    padding:4px 12px;
}

