/* styles for the blah creation page */


.create-blah-channel-span {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    color:rgb(244,245,240);
}

.create-author-image {
    width:56px;
    height:56px;
    color:rgb(244,245,240);
    background-size:cover;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(32,32,32);
    margin: 4px 8px 2px 2px;
}

.create-footer-div {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color:rgb(32,32,32);
    background-color: rgb(187, 187, 187);
    position: absolute;
    bottom: 25px;
    width: 100%;
    padding: 10px 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#CreateBlahPage {
    bottom: 25px;
    position: absolute;
    top: 0px;
}

.createblahheadline
{
    background-color:rgb(124,124,124);
    border-spacing:0;
    overflow-x:hidden;
    overflow-y:hidden;

}
.image-preview {
    font-family: 'Arimo', sans-serif;
    display: inline-block;
    width:64px;
    height:64px;
    background-size:cover;
    background-color:rgb(244,245,240);
    font-size:9pt;
    text-align: center;
    vertical-align: middle;
    margin: 0px 10px 8px 16px;
    border: 1px rgb(32,32,32) rgb(124,124,124));
}

.image-preview.no-image {
    font-family: 'Arimo', sans-serif;
    border: 1px rgb(32,32,32) rgb(124,124,124)
}

#ImageForm {
    margin-left: 10px;
    margin-bottom: 10px;
}

#ImageForm div {
    display: table-cell;
    vertical-align: middle;
    width:64px;
    height:64px;
}

#CommentImage {
    width:205px;
    box-shadow: none;
    border: none;
    background-color: rgb(244,245,240);
}
.createblahheadlinephoto
{
    width:40px;
    height:40px;
    background:grey;
    margin-left:10px;
    margin-bottom:5px;
    margin-top:5px;
}
.createblahheadlineoptionframe
{   overflow: hidden;
    width: 70px;

}
.createblahheadlineoption
{
    font-family:'Arimo' sans-serif;
    border:none;
    margin-right:16px;
    border: 0 none;

    font-size: 22px;
    font-weight: bold;
}

.login-btn {
    float:left;
}
.createblahscroll
{
    overflow-y:auto;
    overflow-x:hidden;
    position: fixed;
    top: 55px;
    bottom:45px;
}

.create-content-div {
    overflow-y: auto;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: absolute;
    width: 100%;
    bottom: 60px;
    top: 244px;
}

.create-blah-footer {
    width:100%;

}

.createblahscrolltable
{   width:100%;
    height:auto;
    overflow-y:scroll;
    overflow-x:hidden;
}

.inputheadlineframe
{
    width:98%;
    min-height:60px;
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
    background-color: rgb(250,250,247);
    color: rgb(32,32,32);
    border:1px solid #999999;
    border-radius: 4px;
    outline: none;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    overflow-y: hidden;
      }

.inputheadlineframe:focus
{
    border: solid 1px rgb(125, 181, 227);
    box-shadow: 0 0 5px ;
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999);
    background-color: rgb(255,255,255);
}



.inputheadline
{   width:512px;
    overflow-y:hidden;
    border-radius:5px;
    background:lightblue;
    border:2px solid grey;
}





.inputbodyframe
{
    width:98%;
    min-height:60px;
    font-size:20px;
    font-family: 'Arimo', sans-serif;
    background-color: rgb(250,250,247);
    color: rgb(32,32,32);
    border:1px solid #999999;
    border-radius: 4px;
    outline: none;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    overflow-y: hidden;
}
.inputbodyframe:focus
{
    border: solid 1px rgb(125, 181, 227);
    box-shadow: 0 0 5px ;
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999);
    background-color: rgb(255,255,255);


}


.inputbody
{       width:512px;
    overflow-y:hidden;
    border-radius:5px;
    border:2px solid grey;
}
.uploadimage
{
    width:64px;
    height:64px;
    background:grey;

}
.create-page-button
{
    position:relative;
    background-color: rgb(84,86,98);
    color: rgb(244,245,240);
    font-size:16px;
    font-family: 'Arimo',sans-serif;
    border-radius:8px;
    border-style:none;
    padding:8px 16px;
}

.createblahadditional{
    text-align: center;
}


.creatblahspace
{
    width:100%;
    height:15px;
}


.create-page-button.default
{

    background-color: rgb(84,86,98);
    color: rgb(244,245,240);


}

.create-page-button:hover
{
    background: #474953;
    color: rgb(244,245,240);

}


.create-page-button[disabled]
{
    color: #CCCCCC;
    background-color: #999999;
}

.create-validation-row {
    text-align: right;
    height: 32px;
}

.create-err-msg {
    padding: 4px 8px;
    background-color: rgb(250,250,100);
    color:rgb(32,32,32);
    font-size: 16px;
    border-radius: 4px;
    font-family: 'Arimo', sans-serif;
    margin-right: 16px;
}

.image-preview-row {
    font-family: 'Arimo', sans-serif;
    width:100%;
    text-align: center;
}

.image-preview-row td {
    text-align:center;
}

.create-preview-image {
    font-family: 'Arimo', sans-serif;
    width: 128px;
    height: 128px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(32,32,32)
    background-color:Rgb(244,245,240);
    color: rgb(124,124,124);
    display:inline-block;
}


.badge-info-row {

}

.badge-info-row td {
    font-family: 'Arimo',sans-serif;
    font-size:14px;
}

.badge-name-class {
    font-weight: bold;

}



.charcounter {
    font-size:9pt;
    float: right;
    color: rgb(32,32,32);
    font-family: 'Arimo', sans-serif;
}


.progress-bar
{
    width:100%;
    border-style: solid;
    height:16px;
    border-width: 1px;
}

.progress-bar-indicator
{
    background-color: rgb(248,120,88);
    width:1px;
    height:16px
}

