/* styles for the blah creation page */


.create-blah-channel-span {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    color:rgb(244,245,240);
}

.create-author-image {
    width:56px;
    height:56px;
    color:rgb(244,245,240);
    background-size:cover;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(32,32,32);
    margin: 4px 8px 2px 2px;
}

.create-footer-div {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color:rgb(32,32,32);
    background-color: #cccccc;
    position: absolute;
    bottom: 25px;
    width: 100%;
    padding: 20px 0px 10px 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#CreateBlahPage {
    bottom: 25px;
    position: absolute;
    top: 0px;
}



.createblahheadline {
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
    width: 100%;
    text-align: left;
    padding: 12px 12px 4px 12px;
    word-wrap: break-word;
    border-spacing:0;
    overflow-x:hidden;
    overflow-y:hidden;
}

.createblahbody {
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
    width: 100%;
    text-align: left;
    margin: 16px 16px 4px 16px;
    padding: 12px 12px;
    word-wrap: break-word;
}

.image-preview {
    font-family: 'Arimo', sans-serif;
    display: inline-block;
    width:64px;
    height:64px;
    background-size:cover;
    background-color:rgb(254,254,254);
    font-size:9pt;
    text-align: center;
    vertical-align: middle;
    margin: 0px 10px 7px 16px;
    border: 1px solid #999999;
}

.image-preview.no-image {
    font-family: 'Arimo', sans-serif;
    border: 1px solid #999999;
    }

#ImageForm {
    margin-left: 10px;
    margin-bottom: 10px;
}

#ImageForm div {
    display: table-cell;
    vertical-align: middle;
    width:64px;
    height:64px;
}

#CommentImage {
    width:205px;
    box-shadow: none;
    border: none;
    background-color: rgb(244,245,240);
}
.createblahheadlinephoto
{
    width:40px;
    height:40px;
    background:grey;
    margin-left:10px;
    margin-bottom:5px;
    margin-top:5px;
}
.createblahheadlineoptionframe
{   overflow: hidden;
    width: 70px;

}
.createblahheadlineoption
{
    font-family:'Arimo' sans-serif;
    border:none;
    margin-right:16px;
    border: 0 none;

    font-size: 22px;
    font-weight: bold;
}

.login-btn {
    float:left;
}
.createblahscroll
{
    overflow-y:auto;
    overflow-x:hidden;
    position: fixed;
    top: 55px;
    bottom:45px;
}

.badge-area {
    text-align:left;
    text-align: left;
    position: absolute;
    left: 120px;
    background-color: white;
    padding: 0px;
}

.badge-item {
    padding: 4px 8px 4px 8px;
}

.badge-item:hover {
    background-color: rgb(125, 181, 227);
}

.badge-item i {
    margin-right:8px;
}

.create-content-div {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    bottom: 132px;
    top: 244px;
    padding: 12px 12px;
    position: absolute;
    z-index:2;
}

.create-blah-footer {
    width:100%;

}

.createblahscrolltable
{   width:100%;
    height:auto;
    overflow-y:auto;
    overflow-x:hidden;
}

.inputheadlineframe
{
    width:98%;
    min-height:60px;
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
    background-color: rgb(254,254,254);
    color: rgb(32,32,32);
    border:1px solid #999999;
    border-radius: 4px;
    outline: none;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    overflow-y: hidden;
      }

.inputheadlineframe:focus
{
    border: solid 1px rgb(125, 181, 227);
    box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    -webkit-box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    -moz-box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    background-color: rgb(255,255,255);
}



.inputheadline
{   width:512px;
    overflow-y:hidden;
    border-radius:5px;
    background:lightblue;
    border:2px solid grey;
}



.inputbodyframe
{
    font-size:14px;
    font-family: 'Arimo', sans-serif;
    background-color: rgb(254,254,254);
    color: rgb(32,32,32);
    border:1px solid #999999;
    border-radius: 4px;
    outline: none;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    overflow-y: auto;
    width:100%;
    height:5em;
}


.inputbodyframe:focus
{
    border: solid 1px rgb(125, 181, 227);
    box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    -webkit-box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    -moz-box-shadow: 0 1px 3px rgba(153,153,153,.05), 0 0 8px rgba(125,181,227,.6);
    background-color: rgb(255,255,255);


}

.CreateFooterDiv button
{
    margin-top: 12px;
    margin-left: 12px;
}

#ImagePreviewDiv
{
    margin: 0px 8px 8px 0px;
    float: left;
}

.optionalBody .image-preview
{
    margin: 0px 0px 8px 16px;
}

.inputbody
{       width:512px;
    overflow-y:hidden;
    border-radius:5px;
    border:2px solid grey;
}
.uploadimage
{
    width:64px;
    height:64px;
    background:grey;

}

.optionalBody {
    margin-top: 20px;
}

.create-page-button {
    position:relative;
    background-color: rgb(84,86,98);
    background-image: -moz-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -ms-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(105,108,123)),color-stop(100%,rgb(84,86,98)));
    background-image: -webkit-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -o-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: linear-gradient(rgb(105,108,123),rgb(84,86,98));
    border: 1px solid rgb(88,90,103);
    color: rgb(244,245,240);
    border-radius: 8px;
    font-size:16px;
    font-family: 'Arimo', sans-serif;
    padding: 8px 16px;
    width: 200px;
}

.createblahadditional{
    text-align: center;
}


.creatblahspace
{
    width:100%;
    height:15px;
}


.create-page-button.default
{

    background-color: rgb(84,86,98);
    background-image: -moz-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -ms-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(105,108,123)),color-stop(100%,rgb(84,86,98)));
    background-image: -webkit-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -o-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: linear-gradient(rgb(105,108,123),rgb(84,86,98));
    color: rgb(244,245,240);


}

.create-page-button:hover
{
    background-color: rgb(71,73,83);
    background-image: -moz-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -ms-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(84,86,98)),color-stop(100%,rgb(63,65,74)));
    background-image: -webkit-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -o-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: linear-gradient(rgb(84,86,98),rgb(63,65,74));
    color: rgb(244,245,240);

}


.create-page-button[disabled]
{
    color: #CCCCCC;
    background-color: #999999;
    background-image: none;
    border: solid 1px #999999;
}

.create-validation-row {
    text-align: center;
    height: 32px;
}

.create-err-msg {
    padding: 4px 8px;
    background-color: rgb(250,250,100);
    color:rgb(32,32,32);
    font-size: 14px;
    border-radius: 4px;
    font-family: 'Arimo', sans-serif;
    margin-right: 16px;
}

.image-preview-row {
    font-family: 'Arimo', sans-serif;
    width:100%;
    text-align: center;
}

.image-preview-row td {
    text-align:center;
}

.create-preview-image {
    font-family: 'Arimo', sans-serif;
    width: 128px;
    height: 128px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(32,32,32)
    background-color:Rgb(244,245,240);
    color: rgb(124,124,124);
    display:inline-block;
}


.badge-info-row {

}

.badge-info-row td {
    font-family: 'Arimo',sans-serif;
    font-size:14px;
    padding-left: 4px;
}

.badge-info-row img {
    margin-right:4px;
}

.badge-name-class {
    font-weight: bold;

}

.post-prompt {
    text-align: center;
}



.charcounter {
    font-size: 9pt;
    float: right;
    color: rgb(32,32,32);
    font-family: 'Arimo', sans-serif;
    margin-right: 12px;
    height:1em;
}


.progress-bar
{
    width:100%;
    border-style: solid;
    height:16px;
    border-width: 1px;
}

.progress-bar-indicator
{
    background-color: rgb(248,120,88);
    width:1px;
    height:16px
}

