/* styles for the blah creation page */


.create-blah-channel-span {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    color:white;
}

.create-author-image {
    width:56px;
    height:56px;
    background-color:white;
    background-size:cover;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    margin: 4px 8px 2px 2px;
}

.create-footer-div {
    background-color: rgb(187, 187, 187);
    position: absolute;
    bottom: 25px;
    width: 100%;
    padding: 10px 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#CreateBlahPage {
    bottom: 25px;
    position: absolute;
    top: 0px;
}

.createblahheadline
{
    background-color:#545253;
    border-spacing:0;
    overflow-x:hidden;
    overflow-y:hidden;

}
.createblahheadlinephotoframe
{
    width:70px;
}

.createblahheadlinephoto
{
    width:40px;
    height:40px;
    background:grey;
    margin-left:10px;
    margin-bottom:5px;
    margin-top:5px;
}
.createblahheadlineoptionframe
{   overflow: hidden;
    width: 70px;

}
.createblahheadlineoption
{
    font-family:'Arimo' sans-serif;
    border:none;
    margin-right:16px;
    border: 0 none;

    font-size: 22px;
    font-weight: bold;
}

.login-btn {
    float:left;
}
.createblahscroll
{
    overflow-y:auto;
    overflow-x:hidden;
    position: fixed;
    top: 55px;
    bottom:45px;
}

.create-content-div {
    overflow-y: auto;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: absolute;
    width: 100%;
    bottom: 60px;
    top: 244px;
}

.create-blah-footer {
    width:100%;

}

.createblahscrolltable
{   width:100%;
    height:auto;
    overflow-y:scroll;
    overflow-x:hidden;
}

.inputheadlineframe
{
    width:98%;
    min-height:60px;

    border:2px solid darkgrey;
    border-radius:8px;

    color: black;
    background-color: #F0F0F0;
    font-family: 'Arimo', sans-serif;
    font-size: 30pt;
    overflow-y: hidden;

}
.inputheadline
{   width:512px;
    overflow-y:hidden;
    border-radius:5px;
    background:lightblue;
    border:2px solid grey;
}
.inputbodyframe
{
    width:98%;
    min-height:60px;
    font-size:12pt;
    font-family: 'Arimo', sans-serif;
    background-color: #F0F0F0;
    color:black;
    border:2px solid darkgrey;
    border-radius:8px;
    overflow-y: hidden;
}
.inputbody
{
    overflow-y:hidden;
    border-radius:5px;
    border:2px solid grey;
}
.uploadimage
{
    width:64px;
    height:64px;
    background:grey;

}
.create-page-button
{
    position:relative;
    background:#FC7A56;
    color:white;
    font-size:16px;
    font-family: 'Arimo',sans-serif;
    border-radius:8px;
    border-style:none;
    padding:8px 16px;
}

.createblahadditional{
    text-align: center;
}


.creatblahspace
{
    width:100%;
    height:15px;
}


.create-page-button.default
{

    background:green;
    color:white;

}

.create-page-button:hover
{
    background: #004800;
}


.create-page-button[disabled]
{
    background: #d6edd7;
    color:#a9a9a9;
}

.create-validation-row {
    text-align: right;
    height: 32px;
}

.create-err-msg {
    padding: 4px 8px;
    background-color: yellow;
    color:black;
    font-size: 16px;
    border-radius: 4px;
    font-family: 'Arimo', sans-serif;
    margin-right: 16px;
}

.image-preview-row {
    width:100%;
    text-align: center;
}

.image-preview-row td {
    text-align:center;
}

.create-preview-image {
    width: 128px;
    height: 128px;
    border-width: 1px;
    border-style: solid;
    border-color:black;
    background-color:white;
    color: darkgray;
    display:inline-block;
}


.badge-info-row {

}

.badge-info-row td {
    font-family: 'Arimo',sans-serif;
    font-size:14px;
}

.badge-name-class {
    font-weight: bold;

}



.charcounter {
    font-size:9pt;
    float: right;
}


.progress-bar
{
    width:100%;
    border-style: solid;
    height:16px;
    border-width: 1px;
}

.progress-bar-indicator
{
    background-color: red;
    width:1px;
    height:16px
}

