
.manage-channels-page {
    width:100%;
    height:100%
}

.channel-admin-area {
    background: #FFFFFF;

}

.channel-header {
    color: #1FBBD1;
    font-family: 'Gotham Rounded Medium', 'Gotham Rounded','HelveticaNeue-CondensedBold', 'Helvetica Neue', sans-serif;
    font-size: large;
    margin-left: 8px;

}

.channel-details-div {
    width:100%;
    position: absolute;
    top: 60px;
    bottom: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 5px 4px rgba(0,0,0,0.2);
    background-color: rgb(245, 244, 240);
    z-index: 2;
    padding-top: 4px;
}

.channel-title-text {
    font-size:large;
    margin-left: 8px;
}

.channel-description-text {
    font-size:small;
    margin-left: 8px;
    margin-right: 8px;
}

.channel-text-column {
    width: 100%;

}

.channeltype-text {
     font-size:large;
     margin-left: 8px;
 }

.channeltype-text-column {
    width: 100%;

}

.empty-channeltype-title-text {
    font-size:small;
    margin-left: 8px;
    font-style: italic;
}

.empty-channeltype-text-column {
    width: 100%;

}

.empty-channel-type-row {

}

.channel-type-row {

}

.channel-control {
    margin-bottom: 8px;
}

.channel-type-row-table {
    width: 100%;
    border-bottom: solid 2px black;
    margin-bottom: 4px;
}

.channel-create-div {
    width:100%;
    position: absolute;
    top: 60px;
    bottom: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 5px 4px rgba(0,0,0,0.2);
    background-color: rgb(245, 244, 240);
    z-index: 2;
    padding-top: 4px;

}

.channel-create-div label {
    margin-left: 8px;
    margin-right: 8px;
}

.channel-create-div input {
    margin-left: 8px;
    margin-right: 8px;
}

.channel-create-div textarea {
     margin-left: 8px;
     margin-right: 8px;
 }

.channel-create-div select {
    margin-left: 8px;
    min-width: 200px;
}

#ChannelNameField {
    width: 100%;
}

#ChannelDescriptionField {
    width: 100%;
    height: 45px;
}


#RSSURLfield {
    width: 100%;
}

#RSSBody table {
    table-layout:fixed;
    margin: 4px;
    border-top: 1px solid grey;
}

#RSSBody table img {
    width: 128px;
    height: 128px;
    margin: 4px;
}

#RSSBody table textarea {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
}

td.title-data {
    width: 100%;
}

td.title-data input[type='text'] {
    width: 100%;
    margin: 4px;
    margin: 0px;
    padding: 0px;
}

.rss-preview-header {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 16pt;
    padding: 8px 4px;
    background: wheat;
}

#ImportersList {
    width: 100%;
}

#ImporterDetailTable {
    width: 100%;
}