@media all and (max-width: 450px)  {
    .BlahDiv {
        border-radius: 0px;
        box-shadow: none;
        border-width: 4px;

    }

    .logo {
        width:170px;
        height:49px;

    }
    .back-button {
        width:28px;
        height:28px;
        background-size: 28px;
    }

    .dialog-prompt-container {
        font-size: 16px;
        padding: 12px 12px;

    }

    .feedback-div {
        display:none;
    }

    @-ms-viewport {
		.BlahDiv {

         border-radius: 0px;
         box-shadow: none;
         border-width:4px;

        }
	}


    .BlahButton
    {
        font-size: 12px;
        font-weight: bolder;
    }
    .BlahFullHeadline
    {
        font-size: 18px;

    }
    .fill-center-container
    {

    }
    .BlahFullBody
    {
        font-size: 14px;

    }

    .BlahRowVote
    {
        height:40px;

    }

    .FullBlahTableFooter {
        height:40px;
    }

    .promote-btn {
        width:28px;
        height:28px;
    }

    .demote-btn {
        width:28px;
        height:28px;
    }

    .create-page-button {
        width:135px;
    }


    .comment-sort-area {
        text-align: center;
    }

    .comment-sort-area input {
        width:280px;
    }

    .blah-sort-area {
        text-align: center;
    }

    .blah-sort-area input {
        width:280px;
    }

    .demographic-detail {
        display: block;
        width: auto;
        text-align: left;
        padding-right: 0px;
        font-size: 10pt;
    }

    .comment-vote {
        padding-right: 2px;
        padding-left: 4px;
    }

    .comment-user-image {
        width: 32px;
        height: 32px;
        margin: 4px 8px 4px 4px;
    }

    .default-button {
        width:auto;
    }

    .elapsedTimeText {
        font-size: 12pt;
    }

    .instruction-text {
        width:auto;
    }



    .conversion-div {
        font-size: 14pt;
        margin: 8px 0px;
        padding: 0px;

    }

    .chart-box {
        margin: 8px 0px;
    }

    .conversion-desc {
        font-size: 10pt;
    }


    .accordion h2 {
        margin-left: 4px;
        margin-right: 4px;
    }

    .accordion-body {
        margin-left: 4px;
        margin-right: 4px;
        padding-left:4px;
        padding-right:4px;
    }


    .SuggestSignIn
    {
        font-size: 12px;
        width:200px;
        margin-left: 10px;
    }
    .ExtraInfoArea
    {
        width:230px;
    }
    .fullBlahgerName
    {
        font-size: 16px;
    }
    .fullBlahSpeechAct
    {
        font-size: 12px;
    }
    .author-image {
        width:36px;
        height:36px;
        background-size:36px;

    }

    .ChannelBanner
    {
        height: 38px;
        font-size: 18px;
        line-height: 2.0em;

    }
    .sign-in-button
    {
        font-size: 16px;
        height: 38px;
        margin:0px 0px;

        width:60px;

    }

    .ChannelOptions
    {
        width:38px;
        height:38px;
        vertical-align: top;
    }

    .profile-button
    {
        width:38px;
        height:38px;
    }

    .sign-in-page {
        margin:0px;
    }

    .sign-in p {
        font-size: 14px;
    }


    .sign-in
    {
        font-size:14px;
    }

    .sign-in .back-button {
        right: 20px;
    }
}
