@media all and (max-width: 400px)  {
    .BlahDiv {
        border-radius: 0px;
        box-shadow: none;

    }
    .logo {
        width:170px;
        height:49px;

    }
    .back-button {
        width:28px;
        height:28px;
        background-size: 28px;
    }

    .BlahDiv {

        border-radius: 0px;
        box-shadow: none;
    }

    .dialog-prompt-container {
        font-size: 16px;
        padding: 12px 12px;

    }

    .feedback-div {
        display:none;
    }

    @-ms-viewport {
		.BlahDiv {

         border-radius: 0px;
         box-shadow: none;

        }
	}

    .BlahPageFooter td
    {
        width:5%;
    }
    .BlahButton
    {
        font-size: 12px;
        font-weight: bolder;
    }
    .BlahFullHeadline
    {
        font-size: 12px;
        padding: 15px 10px;

    }
    .fill-center-container
    {
        width: 250px;
		padding-left:10px;
    }
    .BlahFullBody
    {
        font-size: 14px;

    }
    .comment-container
    {
        width: 230px;
    }
    .SuggestSignIn
    {
        font-size: 12px;
        width:200px;
        margin-left: 10px;
    }
    .ExtraInfoArea
    {
        width:230px;
    }
    .fullBlahgerName
    {
        font-size: 16px;
    }
    .fullBlahSpeechAct
    {
        font-size: 12px;
    }
    .author-image {
        width:36px;
        height:36px;
        background-size:36px;

    }

    .ChannelBanner
    {
        height: 38px;
        font-size: 20px;
        line-height: 2.0em;

    }
    .sign-in-button
    {
        font-size: 16px;
        height: 38px;



    }

    .ChannelOptions
    {
        width:38px;
        height:38px;
        vertical-align: top;
    }

    .profile-button
    {
        width:38px;
        height:38px;
    }

    .sign-in-page {
        margin:0px;
    }

    .sign-in p {
        font-size: 14px;
    }


    .sign-in
    {
        font-size:14px;
    }

    .sign-in .back-button {
        left: 20px;
    }
}
