/* styles related to polls */

.poll-answers-area {
    width:100%;
}

.poll-prompt {
    font-family: 'Arimo', sans-serif;
    font-size:18pt;
    color:black;
    font-weight:bold;
    text-align: center;
}

.poll-result-table {
    width:100%;
}

.poll-result-row {
    margin-left:8px;
    margin-right:8px;
}

.poll-result-row table {
    border-bottom-style: solid;
    border-bottom-thickness: 1px;
    border-bottom-color: #A0A0A0;
}




.poll-checkbox-wrapper {
    min-width:32px;
}

.poll-checkbox {
    display:none;
    width:24px;
    height: 24px;
    content:url("http://beta.blahgua.com.s3.amazonaws.com/img/unchecked.png");
}

.poll-checkbox:hover {

}

.poll-checkbox.checked {
    content:url("http://beta.blahgua.com.s3.amazonaws.com/img/checked.png");
}

.poll-title-holder {

}

.poll-title {
    font-family: 'Arimo', sans-serif;
    font-size:18pt;
    color:black;
    font-weight:bold;
    padding-left:8px;
    padding-right:8px;
    max-width:200px;
}

.poll-chart-holder {
    width:100%;
}

.poll-chart-div {
    text-align: center ;
    background-color: #01c00a;
    height:30px;
    display:none;
}

.poll-description {
    text-align: left;
    width:100%;
    font-family: 'Arimo', sans-serif;
    font-size:12pt;
    font-style: italic;
}

.poll-vote-text {
    font-family: 'Arimo', sans-serif;
    font-size:12pt;
    float:right;
    margin-right:0px;
    height:30px;
    color:white;
    margin-right: 4px;
    margin-top: 6px;
}

.poll-vote-text.no-votes {
    color:#a9a9a9;
    font-style:italic;
    margin-left: 8px;
    margin-top:4px;
    float:none;

}

