/* styles related to polls */

.poll-container {
    margin: 8px auto;
    border: 1px solid lightgrey;
    padding: 8px;
    border-radius: 8px;
}

.poll-answers-area {
    width:100%;
}

.poll-prompt {
    font-family: 'Arimo', sans-serif;
    font-size:18pt;
    color:black;
    font-weight:bold;
    text-align: center;
}

.poll-result-table {
    width:100%;

}

.poll-result-table.create {
    width:auto;
    margin: 0 auto;
}

.poll-result-row {
    margin-left:8px;
    margin-right:8px;
}

.poll-result-row table {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d1d1d1;
    margin: 4px 8px;
}




.poll-checkbox-wrapper {
    min-width:32px;
}

.poll-checkbox {
    display:none;
    width:24px;
    height: 24px;
    content:url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/unchecked.png");
}

.poll-checkbox:hover {

}

.poll-checkbox.checked {
    content:url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/checked.png");
}

.poll-title-holder {

}

.poll-title {
    font-family: 'Arimo', sans-serif;
    font-size:14px;
    color:black;
    font-weight:bold;
    padding-left:8px;
    padding-right:8px;
    max-width:200px;
}

.poll-chart-holder {
    width:100%;
}

.poll-chart-div {
    text-align: center;
    background-color: #01c00a;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.poll-description {
    text-align: left;
    width:100%;
    font-family: 'Arimo', sans-serif;
    font-size:12pt;
    font-style: italic;
}

.poll-vote-text {
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    margin-right: 0px;
    height: 30px;
    color: black;

    margin-left: 6px;
}

.poll-vote-text.no-votes {
    color:#a9a9a9;
    font-style:italic;
    margin-left: 8px;
    margin-top:4px;
    float:none;

}

