/* styles related to polls */

.poll-container {
    margin: 8px auto;
    border: 1px solid rgb(124,124,124);
    padding: 8px;
    /*border-radius: 8px;*/
}

.poll-answers-area {
    width:100%;
}

.user-vote-div {
    text-align: center;
    margin-top: 8px;
    font-size: 14pt;
    font-family: 'Gotham Rounded Book', 'Gotham Rounded', sans-serif;
    color: #202020;
}

.poll-prompt {
    font-family: 'Gotham Rounded Medium', 'Gotham Rounded', sans-serif;
    font-size:18pt;
    color:rgb(63,42,46);
    text-align: center;
}

.poll-result-row .label {
    text-decoration: underline;
    font-family: 'Gotham Rounded Book', 'Gotham Rounded', sans-serif;
    font-size:14px;
    margin: auto 0;
    color: #202020;
}

.poll-result-row .label span {
    margin-right:16px;
}

.poll-checkbox-wrapper {
    min-width:32px;
}

.poll-checkbox {
}


.poll-title-holder {

}

.poll-title {
    float: left;
    font-family: 'Gotham Rounded Book', 'Gotham Rounded', sans-serif;
    font-size: 11pt;
    color: rgb(63,42,46);
    padding-left: 8px;
    padding-right: 8px;
}

.poll-title.response {
    width:auto;
}

.poll-chart-holder {
    width:100%;
}

.poll-chart-div {
    text-align: center;
    background-color: #1FBBD1;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 2px;
    min-width: 4px;
}

.poll-description {
    text-align: left;
    width: 80%;
    font-family: 'Gotham Rounded Book', 'Gotham Rounded', sans-serif;
    font-size: 11pt;
    font-style: italic;
    color: #999999;
}

.description {
    display: none;
}

.poll-vote-text {
    font-family: 'Gotham Rounded Book', 'Gotham Rounded', sans-serif;
    font-size: 13px;
    margin-right: 0px;
    height: 30px;
    color: rgb(63,42,46);
    margin-left: 6px;
}

.poll-vote-text.no-votes {
    color:rgb(124,124,124);
    font-style:italic;
    margin-left: 8px;
    margin-top:4px;
    float:none;

}

.poll-result {
    overflow-y: scroll;
}

.poll-result-row {
    margin: 12px 12px 24px 8px;
}

.poll-result-row table{
    margin-bottom: 12px;
}

.poll-result-row .title {
    display: block;
    float:left;
    margin: 6px 0px;
}

poll-result-row .description {
    display: block;
}

#BlahTypeAskAuthorPage {
    text-align: left;
}

.add-poll-choice-btn {
    display: block;
    margin:0 auto;
    background-image: url(../img/Large_Upvote2Grey.png);
    background-size: 25px 25px;
    background-repeat:no-repeat;
    padding-left: 35px;
    line-height: 25px;
    font-family: 'Gotham Rounded Book', 'Gotham Rounded', sans-serif;
    margin-top: 10px;
}

.poll-result-row .delete-btn {
    display: block;
    float: left;
    margin-left: 12px;
    background-image: url(../img/Large_CloseGrey.png);
    background-size: 25px 25px;
    width:25px;
    height:25px;
    background-repeat:no-repeat;
}

.unknown-qty-icon {
    font-size:14pt;
}
