
.BlahTypePredict   {
    margin: 8px auto;
    border: 1px solid lightgrey;
    padding: 8px;
    border-radius: 8px;

}

.PredictCheckBoxClass {
    width:24px;
    height: 24px;
    display:none;
}


.elapsedTimeText {
    font-family: 'Arimo', sans-serif;
    font-size:14pt;
}

.elapsedTimePreview {
    font-family: 'Arimo', sans-serif;
    font-size:18pt;
    font-weight: bold;
}

.predictionDatePreview {
    font-family: 'Arimo', sans-serif;
    font-size:12pt;
    text-align: right;
}

.predictionVotePrompt {
    font-family: 'Arimo', sans-serif;
    font-size: 16pt;
    text-align: center;
}

.PredictionChoiceTable {
    width:95%;
    border-collapse: collapse;
    padding-left:20px;

}

.PredictionChoiceTable tr {
    width:100%;

}

.BlahPredictTypeTable {
    padding-left: 16px;
    padding-right: 16px;
}

.predict-indicator-span {
    background-color: red;
    height:18px;
    width:0;
    font-family: 'Arimo', sans-serif;
    font-style: italic;
    font-size: 12px;
}

.PredictCheckBoxWrapper {
    width:32px;
    padding-left:32px;
}

.predictTimeDiv {
    text-align: center;
    font-family: 'Arimo', sans-serif;
}

.PredictAnswerText {
    font-family: 'Arimo', sans-serif;
    font-size:18pt;

}

[data-predict-vote=y] predict-indicator-span {
    background-color: green;
}

[data-predict-vote=n] predict-indicator-span {
    background-color: red;
}

[data-predict-vote=u] predict-indicator-span {
    background-color: blue;
}

.predict-input {

}

.prediction-label {
    font-family:'Arimo',sans-serif;
    font-size:17px;
    color:#545253;
}