
.BlahTypePredict   {
    margin: 8px auto;
    border: 1px solid rgb(124,124,124);
    padding: 8px;
    border-radius: 8px;

}

.PredictCheckBoxClass {
    width:24px;
    height: 24px;
    display:none;
    background-size:cover;
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/unchecked.png');

}

.PredictCheckBoxClass.checked {
    background-image: url('https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/checked.png');

}

#BlahTypePredictAuthorPage {
    text-align: left;
}

.elapsedTimeText {
    font-family: 'Gotham Rounded', sans-serif;
    font-size:14pt;
}

.elapsedTimePreview {
    font-family: 'Gotham Rounded', sans-serif;
    font-size:18pt;
    font-weight: bold;
}

.predictionDatePreview {
    font-family: 'Gotham Rounded', sans-serif;
    font-size:12pt;
    text-align: right;
}

.predictionVotePrompt {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 16pt;
    text-align: center;
}

.PredictionChoiceTable {
    width:95%;
    border-collapse: collapse;
    padding-left:20px;

}

.PredictionChoiceTable tr {
    width:100%;

}

.BlahPredictTypeTable {
    padding-left: 16px;
    padding-right: 16px;
}

.predict-indicator-span {
    background-color: rgb(248,120,88);
    height:18px;
    width:0;
    font-family: 'Gotham Rounded', sans-serif;
    font-style: italic;
    font-size: 12px;
    display:inline-block;
}

.PredictCheckBoxWrapper {
    width:32px;
    padding-left:32px;
}

.predictTimeDiv {
    text-align: center;
    font-family: 'Gotham Rounded', sans-serif;
}

.PredictAnswerText {
    font-family: 'Gotham Rounded', sans-serif;
    font-size:18pt;

}

[data-predict-vote=y] predict-indicator-span {
    background-color: rgb(122, 208, 0);
}

[data-predict-vote=n] predict-indicator-span {
    background-color: rgb(248,120,88);
}

[data-predict-vote=u] predict-indicator-span {
    background-color: rgb(125,181,227);
}

.predict-input {

}

.prediction-label {
    font-family:'Gotham Rounded',sans-serif;
    font-size:17px;
    color:rgb(124,124,124);
}