
/* self pages */
.SelfPageDiv {
    width:100%;
    position: absolute;
    top: 88px;
    bottom: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color:  rgb(244,245,240);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 5px 4px rgba(0,0,0,0.2);
    z-index: 2;
    padding-top: 4px;
}

.UserImageImageNameSpan {
    font-size:20px;
    font-family: 'Arimo', sans-serif;
}

.user-image {
    width:64px;
    height:64px;
    display: inline-block;
    border-width:1px;
    border-color:black;
    border-style:solid;
    background-color:white;
    background-size: cover;
    color:grey;
}

.user-image-upload-btn
{
    background: rgb( 125, 181, 227);
    color:rgb(32,32,32);
    font-size:16px;
    font-family: 'Arimo',sans-serif;
    border-radius:8px;
    padding: 8px 16px;
    border-style:none;

}
.user-profile-description {
    font-size:20px;
    font-family: 'Arimo', sans-serif;
    color:#999999;
}


.small-button {
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Arimo', sans-serif;
    background-color: #666666;
    padding: 8px 12px;
    border-style: none;
    border-radius: 8px;
}

.small-button:hover {
    background-color: #888888;
}

.default-button {
    color: rgb(32,32,32);
    background-color: rgb(125,191,227);
}

.default-button:hover {
    color: rgb(244,245,240);
    background-color: rgb(0,120,248);
}

.default-button:disabled {
    color: rgb(244,245,240);
    background-color: rgb(188,188,188);
}


.permission-table {
    background-color:#add8e6;
    border-radius: 8px;
    font-family: 'Arimo', sans-serif;
    border-collapse: collapse;
    margin:20px;
}

.permission-table thead {
    background-color: #78B5E6;
}

.permission-table tr {
    border-bottom: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
}

.permission-table .attribute-col {
    text-align: right;
}

.permission-table td {
    text-align: center;
    padding: 8px;
}

.permission-table th {
    text-align: center;
    padding: 8px;

}

.attribute-table {
    background-color:rgb(244,245,240);
    border-radius: 8px;
    font-family: 'Arimo', sans-serif;
    border-collapse: collapse;
    margin:20px;
}

.attribute-table thead {
    background-color:rgb(244,245,240);
    font-weight: bold;
    text-decoration: underline;
    border-bottom: none;

}

.attribute-table tr {
    border-bottom: solid;
    border-bottom-color: #bcbcbc;
    border-bottom-width: 1px;
}

.attribute-table .attribute-col {
    text-align: left;
}

.attribute-table td {
    text-align: left;
    padding: 8px;
}

.attribute-table th {
    text-align: left;
    padding: 8px;
}

.instruction-text {
    font-size: 12px;
    font-family: 'Arimo', sans-serif;
    width: 90%;
    text-align: left;
    padding-top: 8px;
    padding-left: 8px;
    padding: 8px;
}

.accordion-body {
   color: rgb(32,32,32);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgb(244,245,240);
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
    padding-bottom: 1px;
    box-shadow: 0px 5px 4px rgba(0,0,0,0.2);

}

.accordion h2 {
    color: rgb(244,245,240);
    background-color:rgb(124,124,124);
    font-family: 'Arimo', sans-serif;
    margin-top: 0px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
}

.collapser {
    display: inline-block;
    width:26px;
    height:22px;

}


.accordion h2 .collapser {
    background-image:url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/closed.png");
}



.accordion.active h2 {

}

.accordion.active h2 .collapser {
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/opened.png");
}


.accordion .accordion-content {
    display: none;
}

.accordion.active .accordion-content {
    display: block;
}





.request-demographic {
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    width: 90%;
    text-align: left;
    padding-top: 8px;
    padding-left: 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(244,245,240);
}

.user-comment-row {

}

.user-comment-row .title-text {
    width: 100%;
}


.user-blah-row {

}

.user-blah-row .title-text {
    width: 100%;
}