
/* self pages */
.SelfPageDiv {
    width:100%;
    position: absolute;
    top: 88px;
    bottom: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color:  rgb(245, 244, 240);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 5px 4px rgba(0,0,0,0.2);
    z-index: 2;
    padding-top: 4px;
}

.UserImageImageNameSpan {
    font-size:20px;
    font-family: 'Arimo', sans-serif;
}

.user-image {
    width:64px;
    height:64px;
    display: inline-block;
    border-width:1px;
    border-color:rgb(32,32,32);
    border-style:solid;
    background-color:rgb(255,255,255);
    background-size: cover;
    color:grey;
}

.user-image-upload-btn
{
    background: rgb( 125, 181, 227);
    color:rgb(32,32,32);
    font-size:16px;
    font-family: 'Arimo',sans-serif;
    border-radius:8px;
    padding: 8px 16px;
    border-style:none;

}
.user-profile-description {
    font-size:20px;
    font-family: 'Arimo', sans-serif;
    color:#999999;
}


.small-button {
    font-size: 20px;
    color: rgb(244,245,240);
    font-family: 'Arimo', sans-serif;
    background-color: rgb(84,86,98);
    background-image: -moz-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -ms-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(105,108,123)),color-stop(100%,rgb(84,86,98)));
    background-image: -webkit-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -o-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: linear-gradient(rgb(105,108,123),rgb(84,86,98));
    border: 1px solid rgb(88,90,103);
    padding: 8px 12px;
    border-style: none;
    border-radius: 8px;
    width: 200px;
}

.small-button:hover {
    background-color: rgb(71,73,83);
    background-image: -moz-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -ms-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(84,86,98)),color-stop(100%,rgb(63,65,74)));
    background-image: -webkit-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -o-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: linear-gradient(rgb(84,86,98),rgb(63,65,74));
}

.default-button {
    background-color: rgb(84,86,98);
    background-image: -moz-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -ms-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(105,108,123)),color-stop(100%,rgb(84,86,98)));
    background-image: -webkit-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -o-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: linear-gradient(rgb(105,108,123),rgb(84,86,98));
    border: 1px solid rgb(88,90,103);
    color: rgb(244,245,240);
}

.default-button:hover {
    background-color: rgb(71,73,83);
    background-image: -moz-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -ms-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(84,86,98)),color-stop(100%,rgb(63,65,74)));
    background-image: -webkit-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -o-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: linear-gradient(rgb(84,86,98),rgb(63,65,74));
    color: rgb(244,245,240);
}

.default-button:disabled {
    color: #CCCCCC;
    background-color: #999999;
    background-image: none;
    border: solid 1px #999999;
}


.permission-table {
    background-color:#add8e6;
    border-radius: 8px;
    font-family: 'Arimo', sans-serif;
    border-collapse: collapse;
    margin:20px;
}

.permission-table thead {
    background-color: #78B5E6;
}

.permission-table tr {
    border-bottom: solid;
    border-bottom-color: rgb(255,255,255);
    border-bottom-width: 1px;
}

.permission-table .attribute-col {
    text-align: right;
    padding-right: 12px;
}

.permission-table td {
    text-align: center;
    padding: 8px;
}

.permission-table th {
    text-align: center;
    padding: 8px;

}

.attribute-table {
    background-color: rgb(250,250,247);
    border-radius: 8px;
    font-family: 'Arimo', sans-serif;
    border-collapse: collapse;
    margin:20px;
}

.attribute-table thead {
    background-color: rgb(250,250,247);
    font-weight: bold;
    /*text-decoration: underline;*/
    border-bottom: none;

}

/*.attribute-table tr {
    border-bottom: solid;
    border-bottom-color: transparent;
    border-bottom-width: 4px;
}*/
.attribute-table .user-blah-row {
    border-top: solid;
    border-top-color: #999999;
    border-top-width: 1px;
}
.attribute-table .user-comment-row
{
    border-top: solid;
    border-top-color: #999999;
    border-top-width: 1px;
}
.attribute-table .attribute-col {
    text-align: right;
    padding-right: 12px;
}

.attribute-table td {
    text-align: left;
    padding-bottom: 8px;
}
.positionNum
{
 padding-right:8px;
 font-size: 20px;
 font-weight: bolder;
 color: green;
}
#BlahSortBySelect,#BlahSortOrderSelect,#BlahFilterBox{

}
.attribute-table th {
    text-align: left;
    padding: 8px;
}

.instruction-text {
    font-size: 12px;
    font-family: 'Arimo', sans-serif;
    width: 90%;
    text-align: left;

    padding-top: 5px;
    padding-bottom: 1px;
}

.accordion-body {
    font-family: 'Arimo', sans-serif;
    color: rgb(32,32,32);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgb(250,250,247);
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 16px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px rgb(168,168,175);
}

.accordion h2 {
    color: rgb(244,245,240);
    background-color:rgb(168,168,175);
    background-image: -moz-linear-gradient(rgb(189,189,197),rgb(147,147,153));
    background-image: -ms-linear-gradient(rgb(189,189,197),rgb(147,147,153));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(189,189,197)),color-stop(100%,rgb(147,147,153)));
    background-image: -webkit-linear-gradient(rgb(189,189,197),rgb(147,147,153));
    background-image: -o-linear-gradient(rgb(189,189,197),rgb(147,147,153));
    background-image: linear-gradient(rgb(189,189,197),rgb(147,147,153));
    font-family: 'Arimo', sans-serif;
    margin-top: 2px;
   margin-left: 12px ;
   margin-right:12px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-weight: bold;
    border: solid 1px rgb(168,168,175);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-style: none;

}

.collapser {
    display: inline-block;
    width:26px;
    height:22px;
    float:right;
    position:relative;
    top:-5px;
    padding-right: 4px;
    background-repeat: no-repeat;

}


.accordion h2 .collapser {
    background-image:url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/closed.png");
}



.accordion.active h2 {

}

.accordion.active h2 .collapser {
    background-image: url("https://s3-us-west-2.amazonaws.com/beta.blahgua.com/img/opened.png");
}


.accordion .accordion-content {
    display: none;
}

.accordion.active .accordion-content {
    display: block;
}





.request-demographic {
   font-style: italic;
    font-family: 'Arimo', sans-serif;
    width: 90%;
    text-align: left;
    padding-top: 8px;
    border-radius: 8px;
    background-color: rgb(250,250,247);
}

.user-comment-row {

}

.user-comment-row .title-text {
    width: 100%;
}
.user-comment-row .title-text a{
	color:black;
}
.user-comment-row .title-text a:hover{
 
	color:blue;
}
.user-blah-row {

}


.no-history-item {
    padding-top:16px;
    padding-bottom: 16px;
    text-align: center;
    font-style: italic;
    color: #202020;
    font-size: 14pt;
}

.user-blah-row:hover {
    background-color: #78B5E6;
}

.user-comment-row .title-text a{
    color:black;
}

.untitled-blah {
    font-style:italic;
}

.user-blah-detail {
    font-size: 11pt;
    width: 100%;
    padding-bottom: 8px;
    padding-top: 4px;
    color: #999999;
}

.user-blah-detail i {
    margin-left:12px;
    margin-right:4px;
    color:black;
}

.user-blah-row .title-text {
    width: 100%;
    vertical-align: top;
    padding-right: 8px;
    font-size:16pt;
}

.user-blah-row .title-text a{
    color:black;
}

.blah-type-square {
    background-color: blue;
    color:#202020;
    width:80px;
    display:inline-block;
    text-align: center;
    font-size: 12pt;
}

.user-blah-row table {
    width:100%;
    border-bottom: 1px solid #999999;
    margin: 4px 0px 4px 0px;
}

.user-blah-date {
    text-align: right;
    color: #999999;
    font-size: 11pt;
    font-style: italic;
    float:right;
}

.chart-box {
    height:200px;
    width:400px;
    border: 1px solid #999999;
    border-radius: 8px;
    margin:8px;
}

.chart-info-box {
    font-size: 14px;
    font-style: italic;
}

.image-delete-btn {
    color:red;
    float: right;
    padding: 2px;
    opacity:.5;
    display:none;
}

.image-delete-btn:hover {
    opacity:1;

}

#DemoArea tr td:nth-child(3) {
    text-align: center;
}