/* styles needed for the signup page */


.sign-in-page {
    border-style:none;
    padding:8px;
    border-radius: 16px;
    margin:24px;
}


.sign-in {
    color:  rgb(244,245,240);
    text-align: center;
    font-family: 'Arimo', sans-serif;
    padding-left: 8px;
    padding-top: 8px;
    background-color: rgb(125, 181, 227);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.sign-in h2 {
    font-size: 36px;
}

.sign-in h3 {
    font-size: 24px;
}

.sign-in h4 {
    font-size: 18px;
    font-style:italic;
}

.sign-in img {
    width: 80%;
   max-width: 341px;

}



.sign-in .back-button {
    float:left;
}

.content_frame{
    text-align: center;
}

.recovery-instructions {
    font-size:16px;
    font-family: 'Arimo', sans-serif;
    color:white;
}
.toggle-container {
    text-align: center;
    padding-left: 2px;
    padding-top: 8px;
    padding-bottom: 16px;
    margin:0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 200px;
    background-color:RGB(122, 208, 0);


}

.toggle-content table {
    margin: 0 auto;
}

.item-container {
    text-align: center;
    width: 100%;
}

.toggle-header {
    text-align: center;
    font-size:0;
    margin: 0 auto;
    background-color: rgb(125, 181, 227);
    padding-top:10px;
}


.label-group {
    text-align:left;
}

.label-group label {
    color:white;
    font-weight: bold;
    font-size:16px;
    font-family: 'Arimo', sans-serif;
    text-align: right;
}

.label-group input {
    font-size:16px;
    font-family: 'Arimo', sans-serif;
    text-align: left;
    padding: 8px;
    border-size:0px;
    background-color: rgb(244,245,240);
    border-width: 0px;
    border-style: none;
    border-radius: 8px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.3);
}

.checkbox-group {

}

.checkbox-group label {
    color:white;
    font-weight: bold;
    font-size:16px;
    font-family: 'Arimo', sans-serif;
    text-align: left;
}

.checkbox-group input[type='checkbox'] {

    padding:8px;
}

.toggle-content td {
    padding-top: 10px;
    padding-left: 0px;
}

.toggle-btn {
    color:white;
    background-color: gray;
    border-style:none;
    border-width: 0px;
    border-radius: 0px;
    font-size:16px;
    font-family: 'Arimo', sans-serif;
    height:36px;
    padding-left:8px;
    padding-right:8px;
    margin:0px;
    margin-left:1px;
}

.table-label-col {
    text-align: right;
}

.table-input-col {
    text-align:left;
}

.btn-left {
    border-top-left-radius: 8px;
}

.btn-right {
    border-top-right-radius: 8px;
}


.toggle-btn:hover {
    color:rgb(244,245,240);
    background-color: #00b800;
}

.toggle-active {
    background-color: RGB(122, 208, 0);
    color:rgb(244,245,240);
}

.toggle-active:hover {
    background-color: #00b800;
    color:rgb(244,245,240);
}



.action-btn {
    color: #dedede;
    background-color: #333333;
    border-style:none;
    border-width: 0px;
    border-radius: 8px;
    font-size:16px;
    font-family: 'Arimo', sans-serif;
    padding: 8px 16px;
}

.action-btn:hover {
    color:black;
    background-color: #AAAAAA;
}

.action-btn:disabled {
    color: #c6c6c6;
    background-color: #AAAAAA;
}

.recover-btn {
    color: rgb(244,245,240);
    background-color: rgb(122,208,0);
    border-style:none;
    border-width: 0px;
    border-radius: 0px;
    font-size:16px;
    font-family: 'Arimo', sans-serif;
    padding: 0px 0px;
}

.recover-btn:hover {
    color: rgb(244,245,240);
    background-color: rgb(122,208,0);
    text-decoration: underline;
}

.recover-btn:disabled {
    color: #c6c6c6;
    background-color: #AAAAAA;
}

.action-default {
    background-color: #00b800;
    color: white
}

.action-default:hover {
    background-color: #00A800;
    color:white;
}

.action-default:disabled {
    background-color: #a8c5ac;
    color:white;
}



.inline-button.login-btn {
    background: white;
    color: black;
}

.inline-button.login-btn:hover {
    background: #00b800;
    color:  white;
}

.error-msg-div {
    width:100%;
    text-align: center;
    opacity: 0;
    margin-top:5px;
}

.error-msg-span {
    border-radius: 8px;
    font-size:16px;
    font-family: 'Arimo', sans-serif;
    color:black;
    background-color: #ffa602;
    padding: 4px 16px;

}