/* styles needed for the signup page */


.sign-in-page {
    border-style:none;
    padding:8px;
    margin:24px;
    background-image: url(../images/signup-2.jpg);
}


.sign-in {
    color:  #3F2B2F;
    text-align: center;
    font-family: 'Gotham Rounded', sans-serif;
    padding-left: 8px;
    padding-top: 8px;
    /*background-color: #fff;*/

}

.sign-in p {
    font-size: 18px;
    line-height: 2em;
}


.sign-in img {
    width: 80%;
   max-width: 341px;

}



.sign-in .back-button {
    position: absolute;
    right: 40px;
}

.content_frame{
    text-align: center;
}

.recovery-instructions {
    font-size:16px;
    font-family: 'Gotham Rounded', sans-serif;
    color:rgb(244,245,240);
}
.toggle-container {
    text-align: center;
    padding-left: 2px;
    padding-top: 8px;
    margin:0px;
    height: 250px;
    /*background-color:#5FC0A5*/
}

.toggle-content table {
    margin: 0 auto;
}

.item-container {
    text-align: center;
    width: 100%;
}

.toggle-header {
    text-align: center;
    font-size:0;
    margin: 0 auto;
    /*background-color: #fff;*/
    padding-top:10px;
}


.label-group {
    text-align:left;
}

.label-group label {
    color:rgb(244,245,240);
    font-weight: bold;
    font-size:16px;
    font-family: 'Gotham Rounded', sans-serif;
    text-align: right;
}

.recover-password {
    text-align:center;
}

.checkbox-group {

}

.checkbox-group label {
    color:rgb(244,245,240);
    font-size:16px;
    font-family: 'Gotham Rounded', sans-serif;
    text-align: left;
}

.checkbox-group input[type='checkbox'] {

    background-color: transparent;
    padding:0px;
    border: none;
}

.toggle-content td {
    padding-top: 10px;
    padding-left: 0px;
}
.aboutCompany
{
    padding-top: 70px;
}
.toggle-btn {
    color:rgb(244,245,240);
    background-color: #3F2B2F;
    border-style:none;
    border-width: 0px;
    border-radius: 0px;
    font-size:16px;
    font-family: 'Gotham Rounded', sans-serif;
    height:36px;
    padding-left:8px;
    padding-right:8px;
    margin:0px;
    margin-left:0px;
    width: 102px;
}

.table-label-col {
    text-align: right;
}

.table-input-col {
    text-align:left;
}

.btn-left {
    /*border-top-left-radius: 8px;*/
}

.btn-right {
    /*border-top-right-radius: 8px;*/
}


.toggle-btn:hover {
    color:rgb(244,245,240);
   /* background-image: -moz-linear-gradient(#36d077,#2fb568);
    background-image: -ms-linear-gradient(#36d077,#2fb568);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#36d077),color-stop(100%,#2fb568));
    background-image: -webkit-linear-gradient(#36d077,#2fb568);
    background-image: -o-linear-gradient(#36d077,#2fb568);
    background-image: linear-gradient(#36d077,#2fb568);*/
    background-color: #3c3c3c;
}

.toggle-active {
    background-color: #1FBBD1;
    color:rgb(244,245,240);
}

.toggle-active:hover {
    background-color: #1FBBD1;
    color:rgb(244,245,240);
}



.action-btn {
    color: #fff;
    background-color: #3F2B2F;
    /*background-image: -moz-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -ms-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(105,108,123)),color-stop(100%,rgb(84,86,98)));
    background-image: -webkit-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -o-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: linear-gradient(rgb(105,108,123),rgb(84,86,98));
    border: 1px solid rgb(88,90,103);*/
    /*border-radius: 8px;*/
    border: none;
    font-size:16px;
    font-family: 'Gotham Rounded', sans-serif;
    padding: 8px 16px;
    width: 200px;
}

.action-btn:hover {
    color:#fff;
    background-color: #1FBBD1;
   /* background-image: -moz-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -ms-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(84,86,98)),color-stop(100%,rgb(63,65,74)));
    background-image: -webkit-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -o-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: linear-gradient(rgb(84,86,98),rgb(63,65,74));*/

}

.action-btn:disabled {
    color: #fff;
    background-color: #3F2B2F;
    background-image: none;
    background-image: none;
    /*border: solid 1px #999999;*/
}

.recover-btn {
    color: #fff;
    background-color: transparent;
    border-style:none;
    border-width: 0px;
    /*border-radius: 0px;*/
    font-size:16px;
    font-family: 'Gotham Rounded', sans-serif;
    padding: 0px 0px;
}

.recover-btn:hover {
    text-decoration: underline;
}

.recover-btn:disabled {
    /*color: #CCCCCC;*/
    /*background-color: #999999;*/
}

.action-default {
    background-color: #1FBBD1;
    border:none;
    /*background-image: -moz-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -ms-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(105,108,123)),color-stop(100%,rgb(84,86,98)));
    background-image: -webkit-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -o-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: linear-gradient(rgb(105,108,123),rgb(84,86,98));
    border: 1px solid rgb(88,90,103);*/
    color: rgb(244,245,240);
    /*border-radius: 8px;*/
    font-size:16px;
    font-family: 'Gotham Rounded', sans-serif;
    padding: 8px 16px;
    width: 200px;
}

.action-default:hover {
    background-color: #3F2B2F;
   /* background-image: -moz-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -ms-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(84,86,98)),color-stop(100%,rgb(63,65,74)));
    background-image: -webkit-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -o-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: linear-gradient(rgb(84,86,98),rgb(63,65,74));*/
    color:rgb(244,245,240);
}

.action-default:disabled {
    color: #CCCCCC;
    background-color: #999999;
    background-image: none;
    /*border: solid 1px #999999;*/
}



.inline-button.login-btn {
    background: rgb(244,245,240);
    color: rgb(32,32,32);
}

.inline-button.login-btn:hover {
    background: #2fb568;
    color:  rgb(244,245,240);
}

.error-msg-div {
    width:100%;
    text-align: center;
    opacity: 0;
    margin-top:5px;
}

.error-msg-span {
    /*border-radius: 8px;*/
    font-size:16px;
    font-family: 'Gotham Rounded', sans-serif;
    color:rgb(32,32,32);
    background-color: #96C648;
    padding: 4px 16px;

}
.indicator-icon {
    color: rgb(244,245,240);
    margin-left: -24px;
    position: absolute;
    margin-top: 4px;
}

#RecoveryInfo:hover {
    color:#474953;
}

.about-link {
    color: rgb(244,245,240);
    /*background-color: #5FC0A5;*/
    border-style:none;
    border-width: 0px;
    border-radius: 0px;
    font-size:16px;
    font-family: 'Gotham Rounded', sans-serif;
    padding: 0px 0px;
    line-height: 2em;
}

.about-link:hover {
    text-decoration: underline;
}