
body {
    font-family: 'Arimo', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    color:  rgb(244,245,240);
    background: fixed;
    background-color: #efefef;

    background-image: linear-gradient(rgb(125,191,227)66%,rgb(122,208,0)67%,rgb(122,208,0)),;
    background-image: -moz-linear-gradient(rgb(125,191,227)66%,rgb(122,208,0)67%,rgb(122,208,0));
    background-image: -ms-linear-gradient(rgb(125,191,227)66%,rgb(122,208,0)67%,rgb(122,208,0));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(66%,rgb(125,191,227)),color-stop(67%,rgb(122,208,0)),color-stop(100%,rgb(122,208,0)));
    background-image: -webkit-linear-gradient(rgb(125,191,227)66%,rgb(122,208,0)67%,rgb(122,208,0));
    background-image: -o-linear-gradient(rgb(125,191,227)66%,rgb(122,208,0)67%,rgb(122,208,0));
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 13px;
    color: #F4F5F0
}

.hints {
    margin: 0px auto;
    width: 90%;
    max-width: 450px;
    margin-bottom: 16px;
}

.tips {
    margin: 0px auto;
    width: 90%;
    max-width: 450px;
    margin-top: 16px;
}

.tips ul {
    margin-top: 16px;
}

.launch-head {
    text-align: center;
    padding-top: 20px;
}

.launch-head h1 {
    letter-spacing: -2px;
    font-weight: 400;
    font-size: 126px;
    line-height: 1.1;
    white-space: nowrap
}

.indent {
    margin-left: 16px;
}


.notes {
    font-style: italic;
}
.launch-head h1 span {
    font-weight: 300;
    margin-left: -12px
}

.launch-head h2 {
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 48px;
    font-weight: 300
}

#signup {
    margin: 0
}

#signup-sect {
    text-align: center;
    margin-top: 60px
}

#signup-sect p {
    font-weight: 300;
    color: #F4F5F0;
    font-size: 18px;
    line-height: 140%;
}

.flex-container {
    display: block;
    text-align: center;
}

.signup_form {
    max-width: 480px;
    margin: 0 auto;
    padding: 16px 16px 7px 16px;
    position: relative;


}

ol li {
    font-size:x-large;
    line-height: 1.2em;
    padding-bottom: 0.5em;
}


ul li {
    font-size: medium;
    line-height: 1.3em;
    padding-bottom: 1em;
}


span.prompt {
    font-style: italic;
    font-size: medium;
}

textarea, input[type="email"], input[type="text"] {
    font: 99% sans-serif;
    font-size: 23px;
    color: #333;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
    padding: 4px 0 0 13px;
    height: 40px;
    border: 0;
    border-bottom: 1px solid #f8f8f8;
    background-color: #efefef;
    -webkit-box-shadow: inset 0 2px 6px -1px #444;
    box-shadow: inset 0 2px 6px -1px #444;
    -webkit-border-radius: 8px;
    border-radius: 8px
}

textarea {
    height: auto;
    font-size: 18px;
    padding: 10px 0 10px 10px
}

.signup_form input:focus {
    background: #f6f6f6;
    box-shadow: inset 0 2px 6px -1px #666;
    border-bottom: 1px solid #FFF;
    -webkit-transition: border linear .2s, box-shadow linear .2s, background linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s, background linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s, background linear .2s;
    transition: border linear .2s, box-shadow linear .2s, background linear .2s
}

.btn-fancy {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    color: #777;
    font-size: 23px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    white-space: nowrap;
    border: 1px solid #ddd;
    border-top: 1px solid #fff;
    background: #cecece;
    height: 43px;
    margin-top: -1px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 35px 40px -10px rgba(255, 255, 255, 0.8) inset, 0px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 35px 40px -10px rgba(255, 255, 255, 0.8) inset, 0px 1px 2px rgba(0, 0, 0, 0.5)
}

.btn-fancy:hover {
    background: #bebebe;
    -webkit-transition: background linear .2s;
    -moz-transition: background linear .2s;
    -o-transition: background linear .2s;
    transition: background linear .2s
}

.btn-fancy:active, .btn-fancy.btn-down {
    padding-top: 8px;
    border: 1px solid #999;
    border-bottom: 1px solid #f8f8f8;
    background: #cecece;
    -webkit-box-shadow: inset 0 2px 6px -1px #666;
    box-shadow: inset 0 2px 6px -1px #666
}


select {
    margin: 2px 0px 9px 0px;
    height: 40px
}






#share a {
    font-size: 13px;
    font-weight: 300
}


.share-button i {
    color: #c1c2bd;
    font-size: 26px
}

.share-button i:hover {
    text-decoration: none;
    color: #F4F5F0
}

#info {
    margin-top: 40px
}


ul.icons {
    list-style: none;
    margin: 0
}


.click-through-link {
    margin: 16px;
    vertical-align: middle;
    line-height: 43px;
    min-width: 200px;
    max-width:200px;
}

.click-through-link:active, .click-through-link.btn-down {
    margin-bottom: 5px;
}

.shadow-overlay {

    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    z-index: -1;

    /* Fallback for older browsers */
    background: #FFFFFF;
    background: rgba(255, 255, 255, 0.0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.0)";

}

.action-btn {
    color: rgb(244,245,240);
    background-color: rgb(84,86,98);
    background-image: -moz-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -ms-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(105,108,123)),color-stop(100%,rgb(84,86,98)));
    background-image: -webkit-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: -o-linear-gradient(rgb(105,108,123),rgb(84,86,98));
    background-image: linear-gradient(rgb(105,108,123),rgb(84,86,98));
    border: 1px solid rgb(88,90,103);
    border-radius: 8px;
    font-size:16px;
    font-family: 'Arimo', sans-serif;
    padding: 8px 16px;
    width: 200px;
    display: inline-block;
    margin: 4px;
}

.action-btn:hover {
    color:rgb(244,245,240);
    background-color: rgb(71,73,83);
    background-image: -moz-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -ms-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(84,86,98)),color-stop(100%,rgb(63,65,74)));
    background-image: -webkit-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: -o-linear-gradient(rgb(84,86,98),rgb(63,65,74));
    background-image: linear-gradient(rgb(84,86,98),rgb(63,65,74));

}

.container {
    padding-bottom: 40px;
}

.row {
    bottom:16px;
    width:100%;
    text-align: center;
}

.row a {
    color:white;
    margin:0px 10px;
}

@media (max-width:767px) {


    .launch-head h1 {
        font-size: 80px;
        line-height: 1.1
    }

    .launch-head h2 {
        font-size: 35px;
        line-height: 1
    }

    body {
        width: auto;
        position: static;
    }
}

@media (max-width:480px) {
    .launch-head h1 {
        font-size: 64px;
        line-height: 1.1
    }

    .launch-head h2 {
        font-size: 25px;
        line-height: 1
    }

    #signup-sect p {
        font-size: 16px
    }

    #signup-sect {
        margin-top: 40px
    }

    ol li {
        font-size:medium;
    }

}