/* styles for the base of blahgua */


body {
    margin: 0px;
    color: black;
}

textarea {
    resize: none;
}

.fill-center-container {
    width: 100%;
    text-align: center;
}

.PageBody {
    position:absolute;
    margin:0px;
    width:100%;
    height:100%;
    z-index:0;
    background-color:darkgray;
}

.Overlay {
    z-index:100;
}

.BlahContainer {
    position: absolute;
    height:100%;
    background-color: #d4d4d4;
    background-image: url(http://blahgua-webapp.s3.amazonaws.com/images/groups/bkgnds/tealrock.jpg);
    overflow:hidden;

}


.BlahDiv {
    background-color:#000000;
    font-family: 'Arimo', sans-serif;

    overflow:hidden;
    vertical-align:middle;
    background-size: cover;

    border-radius: 8px;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.2);

}



.LightBox {
    display:none;
    background-color:rgba(0,0,0,.85);
    position:absolute;
    width:100%;
    height:100%;
    z-index:10;
}

.blah-preview-content {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 3;
    position: relative;
    box-shadow: 0px 5px 5px rgba(0,0,0,.3);
}

.CloseBlahBtn {
    text-align: center;
    padding-left:4px;
    padding-right: 4px;
    border-width: 1px;
    border-style: solid;
    background-color:white;
    color:red;
    font-weight: bold;
}

.CloseBlahBtn:hover {
    background-color: red;
    color:white;
}

.BlahFullItem {
    display:none;
    background-color: rgba(0,0,0,.8);
    position:absolute;
    width:100%;
    height:100%;
    z-index:20;
}

.FullBlahContent {
    overflow-x: hidden;
    overflow-y: auto;
    border-spacing:0px;
    border:0px;
    margin-top:-2px;
}





.BlahFullTable {
    border-spacing:0px;
    border-collapse: collapse;
    border:0px;
}




.FullBlahTable {
    width: 100%;
    border-spacing:0;
}




.statsText
{
    font-size:12px;
    font-family: 'Arimo', sans-serif;
}

.statsText1
{
    font-size:12px;
    font-weight:bold;
    margin-top:200px;
}


.BlahCommentBody {
    font-size: 16px;
    width:100%;
    min-width:100%;
    word-wrap: break-word;
    padding-left:0px;
    padding-right:0px;
}

.NoCommentSpan {
    font-style: italic;
}


.comment {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 24px;
}


.flipdown-btn {
    float: right;

}


.user-image {

}

.user-image-thumbnail {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.comment-content {
    margin-left: 60px;

}


.Comment-metadata {


}


.CommentAuthor {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    padding-right: 9px;
    color: #438bc5
}

.CommentDate {
    font-size:9px;
    color: #999;
}

a {
    text-decoration: none;
}

.CommentVote {
    font-size: 12px;

}


.UserChannelDiv {
    background:darkgrey;width:100%;height:100%

}

.SuggestSignIn {
    text-align: center;
    font-size:18px;
    background-color: orange;
    color:black;
    margin: 4px;
    padding-right: 8px;
    padding-left:8px;
    padding-top:12px;
    width:80%;
    height:80%;
    border-radius: 8px;
    margin-left:40px;
}


.BlahgerNickName {
    font-family:'Arimo', sans-serif;
    font-size:20pt;
    color:white;
}

.BlahStatsTable {
    min-width: 100%;
}


.AddCommentBtn {
    float:right;
}
.CommentTextArea {
    width:100%;
    min-height:2em;
}


.detailpageheader
{
    height:auto;

    border-spacing:0px;
    border-collapse: collapse;
    border:0px;
}
.BlahRowVote
{
    height:70px;
    width: 100%;
}
.shorttitle
{   font-family:'Arimo',sans-serif;
    font-size:17px;
    font-weight:strong;
    color:#545253;
    margin-left:20px;

}
.shorttitle1
{   font-family:'Arimo',sans-serif;
    font-size:17px;
    font-weight:strong;
    margin-left:20px;
    color:#545253;
    border-top:1px solid grey;
}
.aboutyouframe
{
    width:100%;
    min-height:10px;
    font-size:12pt;
    font-family: 'Arimo', sans-serif;
    background-color:transparent;
    color:black;
    border:none;



}
.aboutbutton
{
    width:180px;
    height:50px;
    background-color:#FC7A56;
    border-radius:10px;
    border-color:transparent;
    color:white;
    font-size:16px;
    font-weight:strong;
    font-family:'Arimo',sans-serif;

}
#createcontent
{
    background: url(http://blahgua-webapp.s3.amazonaws.com/img/placeholder_texture.jpg);

}


.charcounter {
    font-size:xx-small;
    float: right;
}
.optioncover1
{
    z-index:10;
    position:absolute;
    width:180;
    height:18;
    overflow:hidden;
}
.optioncover2
{
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%;
    top:0;
    left:0;
    scrolling:no;
}
.optioncover3
{
    background-color:#545253;
    width:88px;
    height:40px;
    font-size:18px;
    font-weight:strong;
    font-family:Arial, Helvetica, sans-serif;
    color:lightgrey;
}
.optioncover4
{
    padding-left:15px;
    padding-top:5px;
}

.imageupload1
{
    position:relative;
    float:left;
    padding:8px 0;
    font-size:12px;
    margin:0
}
.imageupload2
{
    float:left;
}
.imageupload3
{
    width:1px;
    border:1px solid #888;
    z-index:99;
    padding-left:0px;
    margin-left:50px;
}
.imageupload4
{
    padding-top:20px;
    padding-left:25px;
    width:150px;
    height:35px;
    display:block;
    float:left;
    background:#FC7A56;
    color:white;
    font-size:16px;
    font-weight:strong;
    font-family:'Arimo',sans-serif;
    border-radius:10px;
    border-color:transparent;
    z-index:1;
    margin-left:-50px;
    vertical-align:middle;
    cursor: pointer;
}
.imageupload5
{
    position:absolute;
    left:20px;
    top:8px;
    display:none;
    filter:alpha(opacity=0);
    opacity:0;
    width:180px;
    height:40px;
}




/* self pages */




/* media-specific styles */
@media all and (max-width: 400px)  {
    .BlahDiv {
        border-radius: 0px;
        box-shadow: none;

    }
}

@media all and (max-width: 2000px) and (min-width: 401px)  {
    .BlahDiv {
        border-radius:8px;
        box-shadow: 5px 5px 4px rgba(0,0,0,0.2);

    }
}


@media only screen and (max-device-width: 480px) {
    /* iphone specific fixes */
    .BlahDiv {

        border-radius: 0px;
        box-shadow: none;
    }
}

/* iPad  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .BlahDiv {

        border-radius: 0px;
        box-shadow: none;
    }
}


@media (max-width: 400px) {
@-ms-viewport {
		.BlahDiv {

         border-radius: 0px;
         box-shadow: none;

     }
	}
}

