body {
    margin: 0px;
    color: black;
}

.PageBody {
    position:absolute;
    margin:0px;
    width:100%;
    height:100%;
    z-index:0;
    background-color:darkgray;
}

.Overlay {
    z-index:100;
}

.BlahContainer {
    position: absolute;
    height:100%;
    background-color: #CFC0C0;
    overflow:hidden;

}

.BlahDiv {
    background-color:#000000;
    font-family:Verdana, Geneva, sans-serif;
    padding: 8px;
    overflow:hidden;
    vertical-align:middle;
}

.BlahTextDiv {
    background-color: transparent;
    font-family: Verdana, Geneva, sans-serif;
    height:auto;
    min-height:100%;
    width:auto;
    min-width:100%;
    font-size:9px;
}

.BlahAltTextDiv {
    min-height:50%;
    margin-left:0px;
    text-align:center;


}

.BlahExpandTextDiv {
    margin-top:-8px;
    margin-left:-8px;
    margin-right:-8px;
    margin-bottom:-8px;
    text-align:center;


}

.BlahSmallTextLight {
    background-color: rgba(0,0,0,.5);
    color:white;
}

.BlahSmallTextDark {
    background-color: rgba(255,255,255,.5);
    color:black;
}


.SmallBlahFormat {
   
}

.MediumBlahFormat {

}


.LargeBlahFormat {
    font-weight:bold;
}

.BlahImage {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    opacity:0.5;
    z-index:5;
}


.LightBox {
    display:none;
    background-color:rgba(0,0,0,.5);
    position:absolute;
    width:100%;
    height:100%;
    z-index:10;
}

.blah-preview-content {
    overflow-x: hidden;
    overflow-y: scroll;
}

.BlahPreview {
    display:none;
    background-color: white;
    border-style:solid;
    border-width: 4px;
    border-color:black;
    position:absolute;
    height:auto;
    top:50px;
    z-index:15;
}

.BlahPreviewHeadline {
    font-size:36px;
    font-family: Verdana, Geneva, sans-serif;
    width:100%;
    text-align:center;
    font-weight:bold;
    margin:16px 16px 16px 16px;
    word-wrap: break-word;
}

.BlahPreviewTable {
    border-spacing:0px;
}

.BlahPreviewHeader {
    background-color:lightgray;
}



.previewBlahgerName {
    padding-left:12px;
    font-size:12px;
    font-family: Verdana, Geneva, sans-serif;

}

.PreviewViewerCount {
    position:relative;
    top:-4px;
    padding-right:12px;
    font-size:12px;
    font-family: Verdana, Geneva, sans-serif;
    padding-left:4px;
}

.BlahPreviewImage {
    max-height:300px;
    max-width:90%;
    padding-top:16px;
    padding-bottom:16px;
}

.BlahPreviewBody {
    font-size:16px;
    font-family: Verdana, Geneva, sans-serif;
    width:100%;
    padding-left:16px;
    padding-right:16px;
    padding-bottom:16px;

}


.BlahFullItem {
    display:none;
    background-color: white;
    border-style:solid;
    border-width: 1px;
    border-color:black;
    position:absolute;
    width:100%;
    height:100%;
    z-index:20;
}


.FullBlahContent {
    overflow-x: hidden;
    overflow-y: scroll;
}



.BlahFullHeadline {
    font-size:36px;
    font-family: Verdana, Geneva, sans-serif;
    width:100%;
    text-align:center;
    font-weight:bold;
    margin:16px 16px 16px 16px;
    word-wrap: break-word;
}

.BlahFullTable {
    border-spacing:0px;
}

.BlahFullHeader {
    background-color:lightgray;
}



.fullBlahgerName {
    padding-left:12px;
    font-size:12px;
    font-family: Verdana, Geneva, sans-serif;

}

.FullBlahViewerCount {
    position:relative;
    top:-4px;
    padding-right:12px;
    font-size:12px;
    font-family: Verdana, Geneva, sans-serif;
    padding-left:4px;
}

.FullBlahTable {
    width: 100%;
}


.BlahFullImage {
    max-height:300px;
    max-width:90%;
    padding-top:16px;
    padding-bottom:16px;
}

.comment-vote {
    width: 18px;

}


.BlahFullBody {
    font-size:16px;
    font-family: Verdana, Geneva, sans-serif;
    width:100%;
    padding-left:16px;
    padding-right:16px;
    padding-bottom:16px;
    word-wrap: break-word;
}

.BlahCommentBody {
    font-size: 16px;
    width:100%;
    min-width:100%;
    word-wrap: break-word;
    padding-left:0px;
    padding-right:0px;
}

.NoCommentSpan {
    font-style: italic;
}


.comment {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 24px;
}


.flipdown-btn {
    float: right;

}


.user-image {

}

.user-image-thumbnail {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.comment-content {
    margin-left: 60px;

}


.Comment-metadata {


}


.CommentAuthor {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    padding-right: 9px;
    color: #438bc5
}

.CommentDate {
    font-size:9px;
    color: #999;
}

a {
    text-decoration: none;
}

.CommentVote {
    font-size: 12px;

}

.ChannelBanner {
    position: absolute;
    width:100%;
    top: 8px;
    height: 48px;
    z-index:10;
    background-color:magenta;
    color:black;
    font-family: Verdana, Geneva, sans-serif;
    font-size:22px;
    font-weight:bold;
    font-stretch:condensed;
    box-shadow:rgba(0,0,0,.4) 0px 4px;
    line-height:2em;
}

.ChannelNameText {
    margin-left:8px;
    text-shadow: 1px 1px rgba(255,255,255,.4);
}

.ChannelViewersImg {
    position:relative;
    top:4px;
}
.ChannelViewersCountText {

}

.UserChannelDiv {
    margin-top: 100px;
 }



.ChannelViewersSpan {
    float:right;
    margin-right:54px;
}


.ChannelOptions {
    position:absolute;
    top:0px;
    width:48px;
    right:0px;
    bottom:0px;
    border-left-color:rgba(0,0,0,.4);
    border-left-width:1px;
    border-left-style:solid;
    text-align:center;
    vertical-align:middle;
}


.TopRightScreen {
    background-color: lightgray;
    position:fixed;
    right:0px;
    top: 0px;
    padding:4px;
    border-bottom-left-radius:4px;
}

.TopLeftScreen {
    background-color: lightgray;
    position:fixed;
    left:0px;
    top: 0px;
    padding:4px;
    border-bottom-right-radius:4px;
}

.BottomRightScreen {
    background-color: lightgray;
    position:fixed;
    right:0px;
    bottom: 0px;
    padding:4px;
    border-top-left-radius:4px;
}

.BottomLeftScreen {
    background-color: lightgray;
    position:fixed;
    left:0px;
    bottom: 0px;
    padding:4px;
    border-top-right-radius:4px;
}

.UserChannelDiv {
    margin-top: 100px;
}

.Footer {
    width:100%;
    position:fixed;
    bottom:0px;
    height:32px;
    color:white;
    background-color:#000000;
}

.Header {
    width:100%;
    position:fixed;
    top:0px;
}


.PollChoiceWrapper {
    font-size:smaller;
    width:100%;
}

.PollTitle {
    width:100px;
    color:black;
}

.PollChartDiv {
    text-align:right;
    float:left;
    background-color:red;
    height:1em
}

.PollDescription {
    text-align: right;
    border-left: solid 1px black;
}

.PollVotes {
    width: 32px;
}
.PollVoteIcon {
    width: 18px;

}

.PollVoteText {
    font-size:small;
}

.PollComment {
    font-size:small;
    font-weight:normal;
    font-style:italic;
}
