body {
    margin: 0px;
    color: black;
}

.PageBody {
    position:absolute;
    margin:0px;
    width:100%;
    height:100%;
    z-index:0;
    background-color:darkgray;
}

.Overlay {
    z-index:100;
}

.BlahContainer {
    position: absolute;
    height:100%;
    background-color: #CFC0C0;
    overflow:hidden;

}

.BlahDiv {
    background-color:#000000;
    font-family:'Archivo Narrow', sans-serif;
    padding: 8px;
    overflow:hidden;
    vertical-align:middle;
    background-size: cover;
}



.BlahTextDiv {
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    height:auto;
    min-height:100%;
    width:auto;
    min-width:100%;
    font-size:9px;
}

.BlahAltTextDiv {
    min-height:50%;
    margin-left:0px;
    text-align:center;


}

.BlahExpandTextDiv {
    margin-top:-8px;
    margin-left:-8px;
    margin-right:-8px;
    margin-bottom:-8px;
    text-align:center;


}

.BlahSmallTextLight {
    background-color: rgba(0,0,0,.5);
    color:white;
}

.BlahSmallTextDark {
    background-color: rgba(255,255,255,.5);
    color:black;
}


.SmallBlahFormat {
   
}

.MediumBlahFormat {

}


.LargeBlahFormat {
    font-weight:bold;
}

.BlahImage {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    opacity:0.5;
    z-index:5;
}


.LightBox {
    display:none;
    background-color:rgba(0,0,0,.5);
    position:absolute;
    width:100%;
    height:100%;
    z-index:10;
}

.blah-preview-content {
    overflow-x: hidden;
    overflow-y: auto;
}

.BlahPreview {
    display:none;
    background-color: white;
    border-style:solid;
    border-width: 4px;
    border-color:black;
    position:absolute;
    height:auto;
    top:50px;
    z-index:15;
}

.BlahPreviewHeadline {
    font-size:24px;
    font-family: 'Oswald', sans-serif;
    width:100%;
    text-align:center;
    font-weight:bold;
    margin:4px 0px 4px 0px;
    word-wrap: break-word;
}

.BlahPreviewTable {
    border-spacing:0px;
    overflow-x:hidden;
    overflow-y:hidden;
}

.BlahPreviewHeader {
    background-color:lightgray;
}



.previewBlahgerName {
    padding-left:12px;
    font-size:12px;
    font-family: 'Archivo Narrow', sans-serif;
}

.PreviewViewerCount {
    position:relative;
    top:-4px;
    padding-right:12px;
    font-size:12px;
    font-family: 'Archivo Narrow', sans-serif;
    padding-left:4px;
}

.BlahPreviewImage {
    max-height:300px;
    max-width:90%;
    padding-top:16px;
    padding-bottom:16px;
}

.BlahPreviewBody {
    font-size:16px;
    font-family: 'Archivo Narrow', sans-serif;
    width:100%;
    padding-left:16px;
    padding-right:16px;
    padding-bottom:16px;

}

.CloseBlahBtn {
   text-align: center;
    padding-left:4px;
    padding-right: 4px;
    border-width: 1px;
    border-style: solid;
    background-color:white;
    color:red;
    font-weight: bold;
;
}

.CloseBlahBtn:hover {
    background-color: red;
    color:white;
}

.BlahFullItem {
    display:none;
    background-color: white;
    position:absolute;
    width:100%;
    height:100%;
    z-index:20;
}

.FullBlahContent {
    overflow-x: hidden;
    overflow-y: auto;
    border-spacing:0px;
    border:0px;
}


.FullBlahProfileString {
    padding-left:4px;
    font-size:12px;
    font-family: 'Archivo Narrow', sans-serif;
}

.FullBlahDateStr {
    font-size:12px;
    font-family: 'Archivo Narrow', sans-serif;
    font-style: italic;
    padding-right:4px;

}


.BlahFullHeadline {
    font-size:36px;
    font-family: 'oswald', sans-serif;
    width:100%;
    text-align:center;
    font-weight:bold;
    margin:16px 16px 16px 16px;
    padding:10px 10px;
    word-wrap: break-word;
    background:#F777AA;
}

.BlahFullTable {
    border-spacing:0px;
    border-collapse: collapse;
    border:0px;
    bottom:0px;

}

.BlahFullHeader {
    background-color:#FA3987;
    border-spacing:0px;
    border:0px;
    bottom:0px;
}

.FullBlahTableFooter {
    background-color: #d3d3d3;
    border-spacing:0px;
    border-collapse: collapse;
    width:512px;
}

.BlahFullHeader1 {
    background-color:lightgray;
    padding-top:0px;
    padding-left:0px;
}



.fullBlahgerName {
    padding-left:12px;
    font-size:24px;
    font-family: 'Archivo Narrow', sans-serif;

}
.fullBlahgerName1 {
   
    font-size:12px;
    font-family: 'Archivo Narrow', sans-serif;
  

}

.FullBlahViewerCount {
    position:relative;
    top:-6px;
    padding-right:0px;
    font-size:14px;
    font-family: 'archivo narrow', sans-serif;
    padding-left:4px;
    width:50px;
}

.FullBlahTable {
    width: 100%;
    border-spacing:0;
}


.BlahFullImage {
    max-height:512px;
    max-width:90%;
}

.comment-vote {
    width: 18px;

}
.statsText
{
	font-size:12px;
	font-weight:bold;
	margin-top:100px;
}


.BlahFullBody {
    font-size:16px;
    font-family: 'archivo narrow', sans-serif;
    width:100%;
    word-wrap: break-word;
    padding-left:8px;
    padding-right:8px;
    padding-top:4px;
}

.BlahCommentBody {
    font-size: 16px;
    width:100%;
    min-width:100%;
    word-wrap: break-word;
    padding-left:0px;
    padding-right:0px;
}

.NoCommentSpan {
    font-style: italic;
}


.comment {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 24px;
}


.flipdown-btn {
    float: right;

}


.user-image {

}

.user-image-thumbnail {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.comment-content {
    margin-left: 60px;

}


.Comment-metadata {


}


.CommentAuthor {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    padding-right: 9px;
    color: #438bc5
}

.CommentDate {
    font-size:9px;
    color: #999;
}

a {
    text-decoration: none;
}

.CommentVote {
    font-size: 12px;

}

.ChannelBanner {
    position: absolute;
    width:100%;
    top: 8px;
    height: 48px;
    z-index:10;
    background-color:magenta;
    color:black;
    font-family: 'oswald', sans-serif;
    font-size:26px;
    font-weight:bold;
    font-stretch:condensed;
    box-shadow:rgba(0,0,0,.4) 0px 4px;
    line-height:2em;
}

.ChannelNameText {
    margin-left:8px;
    text-shadow: 1px 1px rgba(255,255,255,.4);
}

.ChannelViewersImg {
    position:relative;
    top:4px;
}
.ChannelViewersCountText {

}


.ChannelViewersSpan {
    float:right;
    margin-right:54px;
}


.ChannelOptions {
    position:absolute;
    top:0px;
    width:48px;
    right:0px;
    bottom:0px;
    border-left-color:rgba(0,0,0,.4);
    border-left-width:1px;
    border-left-style:solid;
    text-align:center;
    vertical-align:middle;
}


.TopRightScreen {
    background-color: lightgray;
    position:fixed;
    right:0px;
    top: 0px;
    padding:4px;
    border-bottom-left-radius:4px;
}

.TopLeftScreen {
    background-color: lightgray;
    position:fixed;
    left:0px;
    top: 0px;
    padding:4px;
    border-bottom-right-radius:4px;
}

.BottomRightScreen {
    background-color: lightgray;
    position:fixed;
    right:0px;
    bottom: 0px;
    padding:4px;
    border-top-left-radius:4px;
}

.BottomLeftScreen {
    background-color: lightgray;
    position:fixed;
    left:0px;
    bottom: 0px;
    padding:4px;
    border-top-right-radius:4px;
}

.UserChannelDiv {

}

.Footer {
    width:100%;
    position:fixed;
    bottom:0px;
    height:32px;
    color:white;
    background-color:#000000;
}

.Header {
    width:100%;
    position:fixed;
    top:0px;
}


.PollChoiceWrapper {
    font-size:smaller;
    width:500px;
}

.PollTitle {
    width:80px;
    color:black;
   
    font-size:16px;
    font-weight:bold;
    padding-left:8px;
}

.PollChartDiv {
    text-align:middle;
    background-color:red;
    height:1em
}

.PollDescription {
    text-align: left;
    border-left: solid 1px black;
    width:auto;
    position:relative;
    left:0px;
    
}

.PollVotes {
    width: 80px;
  
    font-weight:bold;
    
}
.PollVoteIcon {
    width: 18px;

}

.PollVoteText {
    font-size:small;
}

.PollComment {
    font-size:small;
    font-weight:normal;
    font-style:italic;
}

.ChannelDropMenu {
    position: absolute;
    padding:16px 0px 0px 0px;
    left:8px;
    top:56px;
    width:400px;
    height:auto;
    border-width: 4px;
    background-color: white;
    box-shadow:rgba(0,0,0,.4) 4px 4px;
    z-index: 12;
}

.ChannelDropMenu ul  {
    list-style-type: none;
    padding-left: 8px;
    margin-left: 0;
}
.ChannelDropMenu ul a {
    font-size:36px;
    width:100%;
    background-color:transparent;
    color:black;
}

.channelimage {
    width:32px;
    height:32px;
    margin-right:8px;
    margin-top:4px;

}

.removechannel {
    width:16px;
    height: 16px;
    float:right;
}

.ChannelDropMenu ul a:hover
{
    background-color: #369;
    color: #FFF;
}

.ChannelDropMenu a {
    font-size:36px;
    background-color: #add8e6;
    color:black;
    margin: 4px;
    padding: 8px;
    width:100%;
    border-radius: 8px;

}

.ChannelDropMenu a:hover {

    background-color: #00008b;
    color:white;
}




.profile-close-btn {
    float: right;

}

.signin-message {
    font-size:18px;
    background-color: orange;
    color:black;
    margin: 4px;
    padding: 8px;
    width:80%;
    border-radius: 8px;
}

.ChannelBrowser {
    width:100%;
    height: 100%;
    overflow-y: scroll;
}

.channelBrowserGroupItem {
    font-size:36px;
    background-color: #add8e6;
    color:black;
    margin: 4px;
    padding: 8px;
    width:100%;
    border-radius: 8px;

}


.ChannelBrowser ul  {
    list-style-type: none;
    padding-left: 8px;
    margin-left: 0;
    background-color:transparent;
}
.channelBrowserGroupItem {
    font-size:36px;
    width:100%;
    background-color:transparent;
    color:black;
}

.channelBrowserGroupItem:hover
{
    background-color: #369;
    color: #FFF;
}


.channelBrowserChannelItem {
    font-size:24px;
    width:100%;
    background-color:transparent;
    color:#a9a9a9;
}

.channelBrowserChannelItem:hover
{
    background-color: #369;
    color: #a9a9a9;
}

.SuggestSignIn {
    text-align: center;
    font-size:18px;
    background-color: orange;
    color:black;
    margin: 4px;
    padding: 8px;
    width:80%;
    border-radius: 8px;
    margin-left:40px;
}

.PredictCheckBoxClass {
    width:24px;
    height: 24px;
    display:none;
}


.elapsedTimeText {
    font-family: 'archivo narrow', sans-serif;
    font-size:18pt;
}

.elapsedTimePreview {
    font-family: 'archivo narrow', sans-serif;
    font-size:18pt;
    font-weight: bold;
}

.predictionDatePreview {
    font-family: 'archivo narrow', sans-serif;
    font-size:12pt;
    text-align: right;
}

.predictionVotePrompt {
    font-family: 'oswald', sans-serif;
    font-size: 16pt;
    text-align: center;
}

.PredictionChoiceTable {
    width:100%;
    border-collapse: collapse;
    padding-left:32px;

}

.PredictionChoiceTable tr {
    width:100%;

}

.BlahPredictTypeTable {
    padding-left: 16px;
    padding-right: 16px;
}

.PredictPreviewSpan {
    background-color: red;
    height:18px;
    width:0%;
}

.PredictCheckBoxWrapper {
    width:32px;
    padding-left:32px;
}

.predictTimeDiv {
    text-align: center;
}

.PredictPreviewAnswerText {
    font-family: 'Archivo Narrow', sans-serif;
    font-size:18pt;

}
.createblahheadline
{
	background-color:#2A99F5;
	width:100%;
}
.createblahheadlinephotoframe
{
	width:70px;
}
.createblahheadlinephoto
{
	width:40px;
	height:40px;
	background:grey; 
	margin-left:10px;
	margin-bottom:5px;
	margin-top:5px;
}
.createblahheadlineoptionframe
{
	position:relative;
	left:10px;
	font-size:30px;
	font-weight:bold;
}
.createblahheadlineoption
{
	width:150px;
	height:30px;
	background:white;
	border:none;
	font-size:17px;
	font-weight:bold;
	box-shadow:none;
}
.createblahscroll
{
	height:440px;
	overflow-y:auto;
	overflow-x:hidden;
}
.createblahscrolltable
{
	width:100%;
	height:auto; 
	overflow:auto;
}
.tr100
{
	width:100%;
}
.inputheadlineframe
{
	width:220px;
	min-height:30px;
	border:40px solid #fff;
	border-bottom:10px solid #FFF;
	border-top:10px solid #fff;
	font-size:16px;
}
.inputheadline
{
	overflow-y:hidden;
	border-radius:5px;
	background:lightblue;
	border:2px solid grey;
}
.inputbodyframe
{
	width:220px;
	min-height:30px;
	border:40px solid #fff;
	border-bottom:20px solid #FFF;
	border-top:10px solid #fff;
	font-size:16px;
}
.inputbody
{
	overflow-y:hidden;
	border-radius:5px;
	border:2px solid grey;
}
.uploadimage
{
	width:40px;
	height:40px;
	background:grey;
	border:40px solid #fff;
	border-top:none;
	border-bottom:none;
}
.uploadimagebutton
{
	position:relative;
	right:250px;
	width:200px;
	height:20px;
}
.createblahadditional
{
	margin-left:30px;
	position:relative;
	top:10px;
}
.creatblahspace
{
	width:100%;
	height:15px;
}
.creatblahfooter
{
	height:60px;
	width:512px;
	background:#B3DBF5;
	position:fixed;
	bottom:0px
	
}
.creatblahbutton
{
	width:100px;
	height:30px;
	border-radius:5px;
	background:#2A99F5;
	color:white;
	font-size:16px;
	font-weight:bold;
}
.progressbar
{
	width:400px; 
	border-style: solid; 
	height:32px; 
	border-width: 2;
}
.indicator
{
	background-color: red;
    width:1px;
    height:32px;
}
