/* styles related to polls */

.poll-answers-area {
    width:100%;
}

.poll-results-table {

}

.poll-result-row {

}

.poll-checkbox-wrapper {
    width:32px;
    padding-left:32px;
}

.poll-checkbox {
    width:24px;
    height: 24px;
    display:none;
}


.poll-title {
    font-family: 'Arimo', sans-serif;
    font-size:18pt;
    width:15%;
    color:black;
    font-weight:bold;
    padding-left:8px;
}

.poll-chart-holder {
    width:100%;
}

.poll-chart-div {
    text-align: center ;
    background-color:red;
    height:1em
}

.poll-description {
    text-align: left;
    width:100%;
    font-family: 'Arimo', sans-serif;
    font-size:12pt;
    font-style: italic;
}

.poll-vote-text {
    width: 80px;

    font-weight:bold;

}

