/* styles related to polls */

.PollChoiceWrapper {
    font-size:smaller;
    width:480px;
}

.PollTitle {
    width:15%;
    color:black;
    font-size:16px;
    font-weight:bold;
    padding-left:8px;
}

.PollChartDiv {
    text-align: center ;
    background-color:red;
    height:1em
}

.PollDescription {
    text-align: left;
    border-left: solid 1px black;
    width:auto;
    position:relative;
    left:0px;

}

.PollVotes {
    width: 80px;

    font-weight:bold;

}
.PollVoteIcon {
    width: 18px;

}

.PollVoteText {
    font-size:small;
}

.PollComment {
    font-size:small;
    font-weight:normal;
    font-style:italic;
}
