/* styles needed for the signup page */

.content_frame{
    position:relative;
    margin:0px auto;
    width:100%;
}
.button_select1{
    width:40%;
    padding-top:80px;
}
.button_select2{
    width:160px;
    height:50px;
    background-color:#d74d3e;
    border-color:transparent;
    border-radius:10px;
    color:white;
    font-size:18px;
}

.button_select2:hover{
    background-color:red;
    color:white;

}


.button_select3{
    padding-top:15px;
    padding-right:3px;
    margin-left:-10px;
    font-family:arial,sans-serif;

}
.button_select4{
    width:70%;
    margin:0px auto;
}
.button_select5{
    width:160px;
    height:50px;
    background-color:#878787;
    border-color:transparent;
    border-radius:10px;
    color:black;
    font-size:18px;
    position:relative;
    top:-50px;
    left:200px;
}
.button_select6{
    padding-top:15px;
    padding-left:12px;
    font-family:arial,sans-serif;
}